@media (max-width: 320px) {


@contentWidth: 320px;

/* 
    Header
*/
#wrapper-header {
    width: 100%;
    height: auto;

    #header {
        width: @contentWidth;

        #logo {            
            width: @contentWidth;

            img {
                @iw: (320 - 296) / 2px;
                margin-left: @iw;
            }
        }

        #menu-access {
            margin-left: 0px;
            float: left;
            width: @contentWidth;
            margin-right: 0px;
            margin-top: 4px;

            #login-form {
                margin-top: 0px;
                text-align: center;

                input[type="text"] {                    
                    margin-left: 0px;
                    width: @contentWidth - 100px;
                    margin-top: 5px;                    
                }

                input[type="submit"] {                    
                    margin-right: 80px;
                    margin-left: 80px; 
                    margin-top: 5px;
                    float: none;
                }
                
            }

            #main-menu {
                visibility: hidden;
                width: 0px;
                height: 0px;
            }
        }
    }
}

/* 
    End Header
*/

/* 
    Mobile menu
*/

#mobile-menu {
    width: 100%;
    margin: 0px auto;
    padding-bottom: 40px;
    visibility: visible;
    height: auto;
    z-index: 9999px;

    select {
        width: @contentWidth - 60px;
        margin: 0px auto;
        display: block;
        font-family: OSRegular;
        font-size: 14px;
        color: #444;
        padding: 6px;
        border: 1px solid #888;
    }
}

/* 
    End Mobile menu
*/

/* 
    Banner
*/

#wrapper-banner {
    width: 100%;
    height: 115px;

    #banner {
        width: @contentWidth;
        text-align: center;

        .img-banner {
            margin-top: -10px;
            width: @contentWidth - 10px;
        }
    }
}

/* 
    End Banner
*/

/* 
    Modules
*/

#wrapper-modules {

    #modules {
        width: @contentWidth;
        padding-top: 40px;

        .module {
            width: 100%;
            margin-bottom: 20px;

            .title-module {
                padding: 0px 15px;
            }

            .desc-module {
                padding: 0px 15px;
            }
            
        }

        #img-register {
            margin: 25px 0px 30px 0px;
        }
    }
}

/* 
    End Modules
*/

/*
    Info Module
*/

.info-module-title {
    margin: 20px 0px 18px 0px;
    text-align: center;
}

.info-module-btn {
    margin-left: 239px; 
}


/*
    End Info Module
*/

/* 
    Trial
*/

#wrapper-trial {

    #trial {
        width: @contentWidth;

        #level-selector {

            #level-bachiller {
                margin-left: 10px;
            } 

            a {
                font-size: 13px;
                margin-top: 8px;
            }

            #component-selector {
                width: 95px;
                background: url(../images/bg-level-component-mobile.png) top left no-repeat;

                #component-handle {
                    margin-left: 60px;
                }
            }
         
        }

        #trial-form {
            margin-left: 7px;
            width: 270px;

            input[type="text"] {
                width: 250px;
            }

            .pruebalo {
                margin-top: 10px;
                margin-left: 53px;
            }
        }

        #trial-information {
            width: 270px;
            margin: 0px 20px;

            .info-module-btn {
                margin-left: 36px;
            }
        }

    }
} 

/* 
    End Trial
*/

/*
    Information
*/

#wrapper-information {

    #information {
        width: @contentWidth;
        padding-top: 40px;

        .information-module { 

            .info-module-btn {
                margin-left: 55px;
            }            

            .information-module-left {
                width: 100%;

                img {
                    margin-bottom: 10px;
                }
            }

            .information-module-right {
                width: 100%;

                img {
                    margin-bottom: 10px;
                }
            }
        }
        
    }

    #onda {
        visibility: hidden;
    }

}

/*
    End Information
*/

/*
    Footer
*/

#wrapper-footer {

    #footer {
        width: @contentWidth;

        #footer-left {
            width: 100%;
            text-align: center;

            a {
                margin: 0px;
            }
        }

        #footer-right {
            width: 100%;
            text-align: center;

            ul {
                float: none;
                margin-top: 20px;
                margin-right: 0px;
                margin-left: 0px;
            }
        }
    }

}

/*
    End Footer
*/


}