@media (max-width: 480px) {


@contentWidth: 480px;

/* 
    Header
*/
#wrapper-header {
    height: auto;

    #header {
        width: @contentWidth; 

        #logo {            
            width: @contentWidth;

            img {
                @iw: (@contentWidth - 296) / 2px;
                margin-left: @iw;
            }
        }       

        #menu-access {
            margin-right: 0px;
            width: @contentWidth;
            float: left;

            #user-data {
                padding-top: 0px;
                text-align: center;                

                ul {
                    float: none;
                    padding: 0px;
                    font-size: 13px; 

                    li:first-child {
                        width: 90%;
                        margin-bottom: 20px;
                    }

                    li {
                        float: none;
                        display: inline-block;
                    }
                }
            }

            #main-menu {
                visibility: hidden;
                width: 0px;
                height: 0px;
            }
        }
    }
}

/* 
    End Header
*/

/* 
    Mobile menu
*/

#mobile-menu {
    width: 100%;
    margin: 0px auto;
    padding-bottom: 40px;
    visibility: visible;
    height: auto;
    z-index: 9999px;

    select {
        width: @contentWidth - 40px;
        margin: 0px auto;
        display: block;
        font-family: OSRegular;
        font-size: 14px;
        color: #444;
        padding: 6px;
        border: 1px solid #888;
    }
}

/* 
    End Mobile menu
*/

/*
    Left Sidebar
*/

#wrapper-content {
    width: @contentWidth; 
    margin-bottom: 30px;   

    #left-sidebar {        
        width: @contentWidth - 40px;
        margin-left: 10px;
        margin-right: 10px;

        p#recarga {

            a {
                @mm: (@contentWidth - 48px) / 2 - 87;
                margin-left: @mm;
            }
        }

        table#tabla-precios {
            margin-left: 125px;
        }

        p#time-suscription {

            span.days-init {
                margin-left: 115px;
            }

            span.days-end {
                margin-right: 115px;
            }

            a.btn {
                @mm: (@contentWidth - 48px) / 2 - 87.5;
                margin-left: @mm;
            }
        }
    }
}

/*
    End Left Sidebar
*/

/*
    Content
*/

#content {
    width: @contentWidth - 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    float: left;

    p.notification {
        text-align: center;
    }

    #form {
        width: @contentWidth - 68px;
        padding: 18px 24px;

        input[type="text"], textarea {
            width: 386px;
        }

        span {
            float: none;
            text-align: center;
            margin-top: 10px;
        }

        a.btn-order {
            @mm: (@contentWidth - 68px) / 2 - 87.5;
            margin: 20px 0px 0px 0px;
            margin-left: @mm;
        }

        img.bg-drop {
            margin: 10px 20px 0px 0px;;
        }
    }

    
}

/*
    End Content
*/

/*
    Footer
*/

#wrapper-footer {

    #footer {
        width: @contentWidth;

        #footer-left {

            a {
                margin-left: 10px;
            }
        }

        #footer-right {

            ul {
                margin-right: 10px;
            }
        }
    }

}
/*
    End Footer
*/

}
