@media (max-width: 600px) {


@contentWidth: 600px;

/* 
    Header
*/
#wrapper-header {

    #header {
        width: @contentWidth;

        #menu-access {
            margin-right: 10px;
            width: @contentWidth - 296 - 20px;

            #user-data {
                padding-top: 20px;

                ul {

                    li:first-child {
                        width: 90%;
                        margin-bottom: 20px;
                    }
                }
            }

            #main-menu {
                visibility: hidden;
                width: 0px;
                height: 0px;
            }
        }
    }
}

/* 
    End Header
*/

/* 
    Mobile menu
*/

#mobile-menu {
    width: 100%;
    margin: 0px auto;
    padding-bottom: 40px;
    visibility: visible;
    height: auto;
    z-index: 9999px;

    select {
        width: @contentWidth - 40px;
        margin: 0px auto;
        display: block;
        font-family: OSRegular;
        font-size: 14px;
        color: #444;
        padding: 6px;
        border: 1px solid #888;
    }
}

/* 
    End Mobile menu
*/

/*
    Left Sidebar
*/

#wrapper-content {
    width: @contentWidth; 
    margin-bottom: 30px;   

    #left-sidebar {
        margin-left: 10px;
    }
}

/*
    End Left Sidebar
*/

/*
    Content
*/

#content {
    width: @contentWidth - 290px;
    margin-right: 10px;

    p.notification {
        text-align: center;
    }

    #form {
        width: @contentWidth - 290px - 48px;
        padding: 18px 24px;

        input[type="text"], textarea {
            width: 244px;
        }

        span {
            float: none;
            text-align: center;
            margin-top: 10px;
        }

        a.btn-order {
            @mm: (@contentWidth - 290px - 48px) / 2 - 87.5;
            margin: 20px 0px 0px 0px;
            margin-left: @mm;
        }

        img.bg-drop {
            margin: 10px 20px 0px 0px;;
        }
    }

    
}

/*
    End Content
*/

/*
    Footer
*/

#wrapper-footer {

    #footer {
        width: @contentWidth;

        #footer-left {

            a {
                margin-left: 10px;
            }
        }

        #footer-right {

            ul {
                margin-right: 10px;
            }
        }
    }

}
/*
    End Footer
*/

}
