@media (max-width: 640px) {


@contentWidth: 640px;

/* 
    Header
*/
#wrapper-header {
    width: 100%;
    height: 132px;

    #header {
        width: @contentWidth;

        #menu-access {
            margin-left: 30px;
            float: left;
            width: @contentWidth - 296px - 30px;
            margin-right: 0px;
            margin-top: 10px;

            #login-form {
                margin-top: 12px;

                input[type="text"] {                    
                    margin-left: 5px;
                    width: 130px;                    
                }

                input[type="submit"] {                    
                    margin-right: 20px; 
                    margin-top: 10px;
                    float: right;
                }
                
            }

            #main-menu {
                visibility: hidden;
                width: 0px;
                height: 0px;
            }
        }
    }
}

/* 
    End Header
*/

/* 
    Mobile menu
*/

#mobile-menu {
    width: 100%;
    margin: 0px auto;
    padding-bottom: 40px;
    visibility: visible;
    height: auto;
    z-index: 9999px;

    select {
        width: @contentWidth - 80px;
        margin: 0px auto;
        display: block;
        font-family: OSRegular;
        font-size: 14px;
        color: #444;
        padding: 6px;
        border: 1px solid #888;
    }
}

/* 
    End Mobile menu
*/

/* 
    Banner
*/

#wrapper-banner {
    width: 100%;
    height: 218px;

    #banner {
        width: @contentWidth;
        text-align: center;

        .img-banner {
            margin-top: -20px;
            width: @contentWidth - 40px;
        }
    }
}

/* 
    End Banner
*/

/* 
    Modules
*/

#wrapper-modules {

    #modules {
        width: @contentWidth;
        padding-top: 40px;

        .module {
            width: 50%;

            .title-module {
                padding: 0px 15px;
            }

            .desc-module {
                padding: 0px 15px;
            }
            
        }

        #img-register {
            margin: 25px 0px 30px 0px;
        }
    }
}

/* 
    End Modules
*/

/*
    Info Module
*/

.info-module-title {
    margin: 20px 0px 18px 0px;
    text-align: center;
}

.info-module-btn {
    margin-left: 239px; 
}


/*
    End Info Module
*/

/* 
    Trial
*/

#wrapper-trial {

    #trial {
        width: @contentWidth;

        #level-selector {

            #level-bachiller {
                margin-left: 114px;
            } 
         
        }

        #trial-form {
            margin-left: 90px;
        }

        #trial-information {
            width: @contentWidth - 80px;
            margin: 0px 40px;

            .info-module-btn {
                margin-left: 179px;
            }
        }

    }
} 

/* 
    End Trial
*/

/*
    Information
*/

#wrapper-information {

    #information {
        width: @contentWidth;
        padding-top: 40px;
        
    }

    #onda {
        visibility: hidden;
    }

}

/*
    End Information
*/

/*
    Footer
*/

#wrapper-footer {

    #footer {
        width: @contentWidth;

        #footer-left {

            a {
                margin-left: 20px;
            }
        }

        #footer-right {

            ul {
                margin-right: 20px;
            }
        }
    }

}

/*
    End Footer
*/



}