@media (max-width: 720px) {


@contentWidth: 720px;

/* 
    Header
*/
#wrapper-header {
    width: 100%;
    height: 142px;

    #header {
        width: @contentWidth;

        #menu-access {
            margin-right: 15px;

            #login-form {
                margin-top: 12px;

                input[type="text"] {                    
                    margin-left: 10px;
                    width: 130px;                    
                }

                input[type="submit"] {                    
                    margin-left: 10px;                   
                }
                
            }
        }
    }
}

/* 
    End Header
*/

/* 
    Banner
*/

#wrapper-banner {
    width: 100%;
    height: 254px;

    #banner {
        width: @contentWidth;
        text-align: center;

        .img-banner {
            margin-top: -24px;
            width: @contentWidth - 40px;
        }
    }
}

/* 
    End Banner
*/

/* 
    Modules
*/

#wrapper-modules {

    #modules {
        width: @contentWidth;
        padding-top: 40px;

        .module {

            .title-module {
                padding: 0px 15px;
            }

            .desc-module {
                padding: 0px 15px;
            }
            
        }

        #img-register {
            margin: 25px 0px 30px 0px;
        }
    }
}

/* 
    End Modules
*/

/*
    Info Module
*/

.info-module-title {
    margin: 20px 0px 18px 0px;
    text-align: center;
}

.info-module-btn {
    margin-left: 239px; 
}


/*
    End Info Module
*/

/* 
    Trial
*/

#wrapper-trial {

    #trial {
        width: @contentWidth;

        #level-selector {

            #level-bachiller {
                margin-left: 154px;
            } 
         
        }

        #trial-form {
            margin-left: 130px;
        }

        #trial-information {
            width: @contentWidth - 80px;
            margin: 0px 40px;

            .info-module-btn {
                margin-left: 219px;
            }
        }

    }
} 

/* 
    End Trial
*/

/*
    Information
*/

#wrapper-information {

    #information {
        width: @contentWidth;
        padding-top: 80px;
        
    }

}

/*
    End Information
*/

/*
    Footer
*/

#wrapper-footer {

    #footer {
        width: @contentWidth;

        #footer-left {

            a {
                margin-left: 20px;
            }
        }

        #footer-right {

            ul {
                margin-right: 20px;
            }
        }
    }

}

/*
    End Footer
*/



}