@media (max-width: 768px) {


@contentWidth: 768px;

/* 
    Header
*/
#wrapper-header {

    #header {
        width: @contentWidth;

        #menu-access {
            margin-right: 10px;

            #user-data {
                padding-top: 12px;
            }
        }
    }
}

/* 
    End Header
*/

/*
    Left Sidebar
*/

#wrapper-content {
    width: @contentWidth; 
    margin-bottom: 30px;   

    #left-sidebar {
        margin-left: 10px;
    }
}

/*
    End Left Sidebar
*/

/*
    Content
*/

#content {
    width: @contentWidth - 290px;
    margin-right: 10px;

    p.notification {
        text-align: center;
    }

    #form {
        width: @contentWidth - 290px - 70px;

        input[type="text"], textarea {
            width: 388px;
        }

        span {
            float: none;
            text-align: center;
            margin-top: 10px;
        }

        a.btn-order {
            @mm: (@contentWidth - 290px - 70px) / 2 - 87.5;
            margin: 20px 0px 0px 0px;
            margin-left: @mm;
        }

        img.bg-drop {
            margin: 10px 20px 0px 0px;;
        }
    }

    
}

/*
    End Content
*/

/*
    Footer
*/

#wrapper-footer {

    #footer {
        width: @contentWidth;

        #footer-left {

            a {
                margin-left: 10px;
            }
        }

        #footer-right {

            ul {
                margin-right: 10px;
            }
        }
    }

}
/*
    End Footer
*/

}
