/********************************
    Font Faces
********************************/
@font-face {
    font-family: 'OSRegular';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular.woff') format('woff'),
         url('../fonts/OpenSans-Regular.ttf') format('truetype'); 

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OSBold';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold.woff') format('woff'),
         url('../fonts/OpenSans-Bold.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MD';
    src: url('../fonts/Marydale.ttf') format('truetype');         
    font-weight: normal;
    font-style: normal;
}


/********************************
    End Font Faces
********************************/

/********************************
    Variables
********************************/
@red: #cd333c;
@darkgray: #333;
@lightgray: #999;
@white: white;
@black: black;
@blacktext: #5b5b5b;
@contentWidth: 940px;

@imgdir: "../images/";
@bgimglightgray: "@{imgdir}bg-light-gray.jpg";
@bgimgdarkgray: "@{imgdir}bg-dark-gray.jpg";
@bgimgblue: "@{imgdir}bg-blue.jpg";
@bgimgblack: "@{imgdir}bg-black.jpg";
/********************************
    End Variables
********************************/

/********************************
    Mixins
********************************/
.transitions (@seconds: .4s) {
    -webkit-transition: all @seconds linear;  
    -moz-transition: all @seconds linear;  
    -o-transition: all @seconds linear;  
    -ms-transition: all @seconds linear;  
    transition: all @seconds linear;
} 
/********************************
    End Mixins
********************************/ 

a img {
    border: none;
}

body {
    margin: 0px;
    padding: 0px;
}

/* 
    Header
*/
#wrapper-header {
    width: 100%;
    height: 142px;
    background: url(@bgimglightgray) top left repeat;

    #header {
        width: @contentWidth;
        margin: 0px auto;

        #logo {
            float: left;
        }

        #menu-access {
            float: right;            

            #login-form {
                margin-top: 12px;

                input[type="text"] {
                    border: 1px solid #e2e2e2;
                    font-family: OSRegular;
                    font-size: 11px;
                    padding: 4px;
                    margin-left: 16px;
                    .transitions();

                    &:focus {
                        border: 1px solid darken(#e2e2e2, 10%);
                    }
                }

                input[type="submit"] {
                    background: url(../images/btn-login-form.png) top left no-repeat;
                    width: 78px;
                    height: 27px;
                    padding: 0px;
                    border: none;
                    color: white;
                    font-family: OSBold;
                    font-size: 9px; 
                    text-shadow: 0px 1px 1px #444;
                    margin-left: 16px;                   
                }
                
            }

            #main-menu {
                text-align: right;

                ul {
                    list-style: none;
                    padding: 0px;
                    margin: 18px 0px 0px 0px;

                    li {
                        display: inline-block;
                        border-right: 2px solid #333;                        
                        
                        a {
                            font-family: OSBold;
                            font-size: 14px;
                            text-decoration: none;
                            color: #333;
                            padding: 2px 13px; 
                            .transitions();  

                            &:hover {
                                text-decoration: underline;
                            }                         
                        }                                      
                    }

                    li:last-child {                        
                        border-right: none;

                        a {
                            padding-right: 0px;
                        }
                    }
                }
            }
        }
    }
}

/* 
    End Header
*/

/* 
    Mobile menu
*/

#mobile-menu {
    width: 100%;
    margin: 0px auto;
    padding-bottom: 0px;
    background: url(@bgimglightgray) top left repeat;
    visibility: hidden;
    height: 0px;

    select {
        width: 100%;
        margin: 0px auto;
        display: block;
    }
}

/* 
    End Mobile menu
*/

/* 
    Banner
*/

#wrapper-banner {
    width: 100%;
    height: 344px;
    background: url(@bgimgblue) top left repeat;

    #banner {
        width: @contentWidth;
        margin: 0px auto;

        .img-banner {
            margin-top: -24px;
        }
    }
}

/* 
    End Banner
*/

/* 
    Modules
*/

#wrapper-modules {
    width: 100%;    
    background: url(@bgimglightgray) top left repeat;

    #modules {
        width: @contentWidth;
        margin: 0px auto;
        padding-top: 60px;
        text-align: center;

        .module {
            width: 25%;            
            float: left;

            .title-module {
                font-family: OSBold;
                font-size: 15px;
                font-weight: normal;
                color: #717171;
                margin: 10px 0px;
                padding: 0px 25px;
                line-height: 20px;
            }

            .desc-module {
                font-family: OSRegular;
                font-size: 12px;
                font-weight: normal;
                color: #717171;
                line-height: 17px;
                padding: 0px 25px;
            }
            
        }

        #img-register {
            margin: 45px 0px 30px 0px;
        }
    }
}

/* 
    End Modules
*/

/*
    Info Module
*/

.info-module-title {
    font-family: OSBold;
    font-size: 30px;
    margin: 0px 0px 18px 0px;
}

.info-module-content {
    font-family: OSRegular;
    font-size: 16px;
    line-height: 28px;
    margin: 5px 0px 32px 0px;
}

.info-module-btn {
    font-family: OpenSans-Bold;
    font-size: 17px;
    color: white;
    text-shadow: 0px 1px 1px #444;
    text-transform: uppercase;
    width: 211px;
    height: 52px - 11px;
    text-align: center;
    padding-top: 11px;
    display: block;
    background: url(../images/btn-info-orange.png) top left no-repeat;
    margin: 20px 0px 10px 0px; 
}


/*
    End Info Module
*/

/* 
    Trial
*/

#wrapper-trial {
    width: 100%;
    background: url(@bgimgblue) top left repeat;

    #trial {
        width: @contentWidth;
        margin: 0px auto;
        padding-top: 15px;
        padding-bottom: 15px;

        a {
            font-family: OSBold;
            font-size: 18px;
            color: white;
            display: block;  
            text-decoration: none;
            margin-top: 5px;          
        }

        #level-selector {
            text-align: center;
            margin-bottom: 25px;

            #level-bachiller {
                float: left;
                height: 37px;
                margin-left: 251px;
            } 

            #component-selector {
                background: url(../images/bg-level-component.png) top left no-repeat;
                width: 146px;
                height: 37px;
                float: left;
                margin: 0px 16px;
                cursor: pointer;

                #component-handle {
                    margin-top: 4px;
                    margin-left: 112px;
                    width: 31px;
                    height: 31px;
                }
            } 

            #level-universidad {
                float: left;
                height: 37px;
            }          
        }

        #trial-form {
            width: 465px - 32px;
            background: #e6f3f8;
            box-shadow: 0px 1px 1px #444;
            border-radius: 6px;
            padding: 22px 16px;
            float: left;

            input[type="text"] {
                font-family: OSRegular;
                font-size: 12px;
                color: black;
                border: none;
                padding: 12px 10px;
                border-radius: 4px;
                width: 185px;
                margin: 10px 18px 10px 0px;
            }

            span {
                font-family: OSRegular;
                font-size: 12px;
                color: #999;
            }

            .pruebalo {
                margin-left: 13px;
            }
        }

        #trial-information {
            float: left;
            width: 400px;
            margin-left: 70px;
            color: white;

            .info-module-btn {
                margin-left: 70px;
            }
        }
    }
} 

/* 
    End Trial
*/

/*
    Information
*/

#wrapper-information {
    width: 100%;
    background: url(@bgimgdarkgray) top left repeat;
    position: relative;

    #information {
        width: @contentWidth;
        margin: 0px auto;
        padding-top: 70px;
        padding-bottom: 20px;

        .information-module {
            width: 100%;
            color: #777;
            margin: 40px 0px;            

            .info-module-content {
                margin-bottom: 40px;
            }

            .info-module-btn {
                font-family: OSBold;
                font-size: 17px;
                color: white;
                text-shadow: 0px 1px 1px #444;
                text-transform: uppercase;
                width: 210px;
                height: 51px - 11px;
                text-align: center;
                padding-top: 11px;
                display: block;
                background: url(../images/btn-info-blue.png) top left no-repeat;
                margin: 20px 0px 10px 0px; 
                text-decoration: none;
            }

            .information-module-left {
                float: left;
                width: 50%;

                img {
                    float: left;
                }

            }

            .information-module-right {                
                float: right;
                width: 50%;

                img {
                    float: right;
                }
            }
        }
    }

    overflow: hidden;
    #onda {
        position: absolute;
    }
}

/*
    End Information
*/

/*
    Footer
*/

#wrapper-footer {
    width: 100%;
    background: url(@bgimgblack) top left repeat;

    #footer {
        width: @contentWidth;
        margin: 0px auto;
        padding: 20px 0px;

        #footer-left {
            float: left;
            width: 50%;

            a {
                font-family: OSRegular;
                font-size: 14px;
                color: white;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        #footer-right {
            float: left;
            width: 50%;

            ul {
                margin: 0px;
                padding: 0px;
                list-style-type: none;

                float: right;

                li {
                    display: inline-block;
                    margin: 0px 10px;

                    a {

                        img {
                            padding: 0px 3px;
                        }
                    }                    
                }

                li:last-child {
                    margin-right: 0px;
                }
            }
        }
    }

}

/*
    End Footer
*/

/* Clear */
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
/* End Clear */

@import "800";
@import "768";
@import "720";
@import "640";
@import "600";
@import "480";
@import "320";