/********************************
    Font Faces
********************************/
@font-face {
    font-family: 'OSRegular';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular.woff') format('woff'),
         url('../fonts/OpenSans-Regular.ttf') format('truetype'); 

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OSBold';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold.woff') format('woff'),
         url('../fonts/OpenSans-Bold.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OSEBold';
    src: url('../fonts/OpenSans-ExtraBold.eot');
    src: url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBold.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OSLight';
    src: url('../fonts/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light.woff') format('woff'),
         url('../fonts/OpenSans-Light.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MD';
    src: url('../fonts/Marydale.eot');
    src: url('../fonts/Marydale.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Marydale.woff') format('woff'),
         url('../fonts/Marydale.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MDBold';
    src: url('../fonts/Marydale-Bold.eot');
    src: url('../fonts/Marydale-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Marydale-Bold.woff') format('woff'),
         url('../fonts/Marydale-Bold.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}


/********************************
    End Font Faces
********************************/

/********************************
    Variables
********************************/
@red: #cd333c;
@darkgray: #333;
@lightgray: #999;
@white: white;
@black: black;
@blacktext: #5b5b5b;
@contentWidth: 940px;

@imgdir: "../images/";
@bgimglightgray: "@{imgdir}bg-light-gray.jpg";
@bgimgdarkgray: "@{imgdir}bg-dark-gray.jpg";
@bgimgblue: "@{imgdir}bg-blue.jpg";
@bgimgblack: "@{imgdir}bg-black.jpg";
@bgimgbrown: "@{imgdir}bg-brown.jpg";
/********************************
    End Variables
********************************/

/********************************
    Mixins
********************************/
.transitions (@seconds: .4s) {
    -webkit-transition: all @seconds linear;  
    -moz-transition: all @seconds linear;  
    -o-transition: all @seconds linear;  
    -ms-transition: all @seconds linear;  
    transition: all @seconds linear;
} 
/********************************
    End Mixins
********************************/ 

a img {
    border: none;
}

body {
    margin: 0px;
    padding: 0px;
    background: url(@bgimglightgray) top left repeat;
}

/* 
    Header
*/
#wrapper-header {
    width: 100%;
    height: 142px;

    #header {
        width: @contentWidth;
        margin: 0px auto;

        #logo {
            float: left;
        }

        #menu-access {
            float: right;

            #user-data {
                padding-top: 10px;
                
                ul {
                    float: right;
                    margin: 0px;
                    padding-top: 0px;
                    list-style-type: none;
                    font-family: OSRegular;
                    font-size: 11px;
                    color: black;

                    li {
                        float: left;
                        margin-left: 20px;

                        span {
                            display: block;
                            margin-top: 6px;
                        }

                        &:first-child {
                            margin-right: 15px;
                        }
                    }
                }
            }

            #main-menu {
                text-align: right;

                ul {
                    list-style: none;
                    padding: 0px;
                    margin: 18px 0px 0px 0px;

                    li {
                        display: inline-block;
                        border-right: 2px solid #333;                        
                        
                        a {
                            font-family: OSBold;
                            font-size: 14px;
                            text-decoration: none;
                            color: #333;
                            padding: 2px 13px; 
                            .transitions();  

                            &:hover {
                                text-decoration: underline;
                            }                         
                        }                                      
                    }

                    li:last-child {                        
                        border-right: none;

                        a {
                            padding-right: 0px;
                        }
                    }
                }
            }
        }
    }
}

/* 
    End Header
*/

/* 
    Mobile menu
*/

#mobile-menu {
    width: 100%;
    margin: 0px auto;
    padding-bottom: 0px;
    background: url(@bgimglightgray) top left repeat;
    visibility: hidden;
    height: 0px;

    select {
        width: 100%;
        margin: 0px auto;
        display: block;
    }
}

/* 
    End Mobile menu
*/

/*
    Left Sidebar
*/

#wrapper-content {
    width: 940px;
    margin: 0px auto; 
    margin-bottom: 30px;   

    #left-sidebar {
        float: left;
        width: 250px - 20px;
        background: url(@bgimgbrown) top left repeat;
        text-align: center;
        padding: 10px;

        p#tienes {
            font-family: OSBold;
            font-size: 16px;
            color: #a98315;
            text-transform: uppercase;
            margin: 10px 0px;
            line-height: 16px;
        }

        p#cantidad-puntos {
            font-family: OSEBold;
            font-size: 90px;
            color: #09416d;
            line-height: 90px;
            margin: 10px 0px;
        }

        p#puntos {
            font-family: OSEBold;
            font-size: 20px;
            color: #09416d;
            line-height: 20px;
            margin: 10px 0px;
        }

        hr {
            color: #e9e9e9;
            border-bottom: 1px solid white;
            margin: 20px 5px;
        }

        p#recarga {

            a {
                width: 174px;
                height: 42px - 8px;
                padding-top: 8px;
                background: url(../images/btn-recarga.png) top left no-repeat;
                font-family: OSBold;
                font-size: 15px;
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                text-shadow: 0px 1px 1px #444;
                display: block;
                margin-left: 27px;
            }
        }

        table#tabla-precios {
            font-family: MDBold;
            font-size: 23px;
            font-weight: 500;
            color: black;
            margin-left: 20px;
            text-align: left;

            tr {

                td {
                    span {
                        color: #a98315;
                    }

                    &:first-child {
                    width: 115px;                    
                }
                }
                
            }
        }

        p.info {
            font-family: OSRegular;
            font-size: 13px;
            color: #777;
            line-height: 18px;
        }

        p#time-suscription {
            font-family: OSEBold;
            font-size: 13px;
            color: #58585a;

            span {
                color: #009ee0;
            }

            span.days-init {
                font-family: OSBold;
                font-size: 11px;
                color: #616161;
                float: left;
                margin-left: 10px;
            }

            span.days-end {
                font-family: OSBold;
                font-size: 11px;
                color: #616161;
                float: right;
                margin-right: 10px;
            }

            a.btn {
                width: 175px;
                height: 43px - 12px;
                padding-top: 12px;
                background: url(../images/btn-suscripcion.png) top left no-repeat;
                font-family: OSBold;
                font-size: 12px;
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                text-shadow: 0px 1px 1px #444;
                display: block;
                margin: 10px 0px 0px 27px;
            }
        }
    }
}

/*
    End Left Sidebar
*/

/*
    Content
*/

#content {
    width: 640px;
    float: right;

    .titling {
        text-align: center;

        h2.content-title {
            font-family: OSBold;
            font-size: 31px;
            line-height: 31px;
            margin: 0px;
            padding: 0px;
            color: #e6bd45;
            text-transform: uppercase;
        }

        p {
            font-family: OSRegular;
            font-size: 17px;
            color: #58585a;
            margin: 8px 0px;
        }
    }

    p.notification {
        font-family: OSLight;
        font-size: 20px;
        color: #58585a;

        span {
            font-family: OSBold;
            color: #009ee0;
        }
    }

    #form {
        width: 640px - 70px;
        background: #e6f3f8;
        box-shadow: 0px 2px 6px #444;
        border-radius: 6px;
        padding: 24px 35px;
        vertical-align: top;

        input[type="text"], textarea {
            font-family: OSRegular;
            font-size: 13px;
            color: black;
            border: none;
            padding: 14px 12px;
            border-radius: 4px;
            width: 244px;
            margin: 10px 30px 10px 0px;
            vertical-align: top;
        }

        span {
            font-family: OSRegular;
            font-size: 13px;
            color: #838383;
            display: block;
            float: right;
            margin-top: 4px;

            strong {
                font-family: OSBold;
                font-size: 19px;
                color: black; 
                margin-left: 10px;
            }
        }

        a.btn-order {
            width: 175px;
            height: 43px - 10px;
            padding-top: 10px;
            background: url(../images/btn-suscripcion.png) top left no-repeat;
            font-family: OSBold;
            font-size: 15px;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            text-shadow: 0px 1px 1px #444;
            display: block;
            margin: -47px 0px 0px 0px;
            text-align: center;
            float: right;
        }

        img.bg-drop {
            margin: -20px 20px 0px 0px;;
        }
    }

    
}

/*
    End Content
*/

/*
    Footer
*/

#wrapper-footer {
    width: 100%;
    background: url(@bgimgblack) top left repeat;

    #footer {
        width: @contentWidth;
        margin: 0px auto;
        padding: 20px 0px;

        #footer-left {
            float: left;
            width: 50%;

            a {
                font-family: OSRegular;
                font-size: 14px;
                color: white;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        #footer-right {
            float: left;
            width: 50%;

            ul {
                margin: 0px;
                padding: 0px;
                list-style-type: none;

                float: right;

                li {
                    display: inline-block;
                    margin: 0px 10px;

                    a {

                        img {
                            padding: 0px 3px;
                        }
                    }                    
                }

                li:last-child {
                    margin-right: 0px;
                }
            }
        }
    }

}

/*
    End Footer
*/

/* Clear */
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
/* End Clear */

@import "800-int";
@import "768-int";
@import "720-int";
@import "640-int";
@import "600-int";
@import "480-int";
@import "320-int";