﻿.smartspinner
{
	padding: 0;
	padding: 2px 10px 2px 2px;
	border:solid 1px #afafaf;
	background: url(normal.jpg) no-repeat right;
	background-color:white;
	text-align:center;
	/*vertical-align:middle;*/
	line-height:2;
	border-radius:3px;
	-moz-border-radius:3px;
	color:#848484;
	font-size:1.0em;
	font-weight:bold;
}
.smartspinner.up
{
	background: url(up.jpg) no-repeat right;
	background-color:white;
	cursor:pointer;
}
.smartspinner.down
{
	background: url(down.jpg) no-repeat right;
	background-color:white;
	cursor:pointer;
}
