@media (max-width: 320px) {


@contentWidth: 320px;

/* 
    Header
*/
#wrapper-header {
    height: auto;

    #header {
        width: @contentWidth; 

        #logo {            
            width: @contentWidth;

            img {
                @iw: (@contentWidth - 296) / 2px;
                margin-left: @iw;
            }
        }       

        #menu-access {
            margin-right: 0px;
            width: @contentWidth;
            float: left;

            #user-data {
                padding-top: 0px;
                text-align: center;                

                ul {
                    float: none;
                    padding: 0px;                    

                    li:first-child {
                        width: 90%;
                        margin-bottom: 20px;
                    }

                    li {
                        float: none;
                        display: inline-block;
                        margin-left: 15px;
                        margin-right: 15px;
                    }
                }
            }

            #login-form {
                margin-top: 0px;
                text-align: center;

                input[type="text"] {                    
                    margin-left: 0px;
                    width: @contentWidth - 100px;
                    margin-top: 5px;                    
                }

                input[type="password"] {                    
                    margin-left: 0px;
                    width: @contentWidth - 100px;
                    margin-top: 5px;                    
                }

                input[type="submit"] {                    
                    margin-right: 80px;
                    margin-left: 80px; 
                    margin-top: 5px;
                    float: none;
                }
                
            }

            #main-menu {
                visibility: hidden;
                width: 0px;
                height: 0px;
            }
        }
    }
}

/* 
    End Header
*/

/* 
    Mobile menu
*/

#mobile-menu {
    width: 100%;
    margin: 0px auto;
    padding-bottom: 40px;
    visibility: visible;
    height: auto;
    z-index: 9999px;

    select {
        width: @contentWidth - 40px;
        margin: 0px auto;
        display: block;
        font-family: OSRegular;
        font-size: 14px;
        color: #444;
        padding: 6px;
        border: 1px solid #888;
    }
}

/* 
    End Mobile menu
*/

/*
    Left Sidebar
*/

#wrapper-content {
    width: @contentWidth; 
    margin-bottom: 30px;   

    #left-sidebar {        
        width: @contentWidth - 40px;
        margin-left: 10px;
        margin-right: 10px;

        p#recarga {

            a {
                @mm: (@contentWidth - 48px) / 2 - 87;
                margin-left: @mm;
            }
        }

        table#tabla-precios {
            margin-left: 50px;
        }

        p#time-suscription {

            span.days-init {
                margin-left: 35px;
            }

            span.days-end {
                margin-right: 35px;
            }

            a.btn {
                @mm: (@contentWidth - 48px) / 2 - 87.5;
                margin-left: @mm;
            }
        }
    }
}

/*
    End Left Sidebar
*/

/*
    Content
*/
#wrapper-content {

    #content {
        width: @contentWidth - 20px;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 20px;
        float: left;

        p.notification {
            text-align: center;
        }

        #form {
            width: @contentWidth - 68px;
            padding: 18px 24px;

            input[type="text"], textarea {
                width: 220px;
                margin-right: 0px;
            }

            .form-element {
                width: 240px;
            }

            span {
                float: none;
                text-align: left;
                margin-top: 10px;
            }

            a.btn-order {
                @mm: (@contentWidth - 68px) / 2 - 87.5;
                margin: 20px 0px 0px 0px;
                margin-left: @mm;
            }

            img.bg-drop {
                width: 254px;
                margin: 10px 0px 0px 0px;;
            }
        }  
    }

    #page-content {
        width: @contentWidth;

        #theme-my-login-login {
            width: @contentWidth - 60px;
            padding: 10px;

            input[type="text"], input[type="password"] {
                width: 230px - 10;
            }
        }

        #theme-my-login-register {
            width: @contentWidth - 60px;
            padding: 10px;
            margin: 0px auto;

            input[type="text"], input[type="password"] {
                width: 230px - 10;
            }

            #left-content {
                width: @contentWidth - 100px;

            }

            #right-content {
                width: @contentWidth - 100px;
                border-left: none;

            }
        }
    }
}
/*
    End Content
*/

/*
    Footer
*/

#wrapper-footer {

    #footer {
        width: @contentWidth;

        #footer-left {
            width: 100%;
            text-align: center;

            ul#menu-footer-menu {
                margin: 0px;
                padding: 0px;
                list-style: none;
                width: 100%;
                margin: 0px;

                li {
                    float: left;
                    margin-right: 0px;
                    width: 100%;
                    text-align: center;
                    margin: 6px 0px;

                    a {
                        font-family: OSRegular;
                        font-size: 14px;
                        color: white;
                        margin: 0px;

                        &:hover {
                            text-decoration: none;
                        }
                    }

                }
            }
        }

        #footer-right {
            width: 100%;
            text-align: center;

            ul {
                float: none;
                margin-top: 20px;
                margin-right: 0px;
                margin-left: 0px;
            }
        }
    }

}

/*
    End Footer
*/
}
