@media (max-width: 480px) {


@contentWidth: 480px;

/* 
    Header
*/
#wrapper-header {
    width: 100%;
    height: auto;

    #header {
        width: @contentWidth;

        #logo {            
            width: @contentWidth;

            img {
                @iw: (480 - 296) / 2px;
                margin-left: @iw;
            }
        }

        #menu-access {
            margin-left: 0px;
            float: left;
            width: @contentWidth;
            margin-right: 0px;
            margin-top: 4px;

            #user-data {
                padding-top: 0px;
                text-align: center;                

                ul {
                    float: none;
                    padding: 0px;
                    font-size: 13px; 

                    li:first-child {
                        width: 90%;
                        margin-bottom: 20px;
                    }

                    li {
                        float: none;
                        display: inline-block;
                    }
                }
            }

            #login-form {
                margin-top: 0px;
                text-align: center;

                input[type="text"] {                    
                    margin-left: 0px;
                    width: @contentWidth - 200px;
                    margin-top: 5px;                    
                }

                input[type="password"] {                    
                    margin-left: 0px;
                    width: @contentWidth - 200px;
                    margin-top: 5px;                    
                }

                input[type="submit"] {                    
                    margin-right: 80px;
                    margin-left: 80px; 
                    margin-top: 5px;
                    float: none;
                }
                
            }

            #main-menu {
                visibility: hidden;
                width: 0px;
                height: 0px;
            }
        }
    }
}

/* 
    End Header
*/

/* 
    Mobile menu
*/

#mobile-menu {
    width: 100%;
    margin: 0px auto;
    padding-bottom: 40px;
    visibility: visible;
    height: auto;
    z-index: 9999px;

    select {
        width: @contentWidth - 80px;
        margin: 0px auto;
        display: block;
        font-family: OSRegular;
        font-size: 14px;
        color: #444;
        padding: 6px;
        border: 1px solid #888;
    }
}

/* 
    End Mobile menu
*/

/* 
    Banner
*/

#wrapper-banner {
    width: 100%;
    height: 174px;

    #banner {
        width: @contentWidth;
        text-align: center;

        .img-banner {
            margin-top: -14px;
            width: @contentWidth - 20px;
        }
    }
}

/* 
    End Banner
*/

/* 
    Modules
*/

#wrapper-modules {

    #modules {
        width: @contentWidth;
        padding-top: 40px;

        .module {
            width: 50%;

            .title-module {
                padding: 0px 15px;
            }

            .desc-module {
                padding: 0px 15px;
            }
            
        }

        #img-register {
            margin: 25px 0px 30px 0px;
        }
    }
}

/* 
    End Modules
*/

/*
    Info Module
*/

.info-module-title {
    margin: 20px 0px 18px 0px;
    text-align: center;
}

.info-module-btn {
    margin-left: 239px; 
}


/*
    End Info Module
*/

/* 
    Trial
*/

#wrapper-trial {

    #trial {
        width: @contentWidth;

        #level-selector {

            #level-bachiller {
                margin-left: 48px;
            } 

            a {
                font-size: 15px;
            }
         
        }

        #trial-form {
            margin-left: 7px;

            input[type="text"], textarea {
                width: 366px;
            }

            .form-element {
                width: 386px;
            }

            span {
                text-align: left;
            }
        }

        #trial-information {
            width: @contentWidth - 80px;
            margin: 0px 40px;

            .info-module-btn {
                margin-left: 98px;
            }
        }

    }
} 

/* 
    End Trial
*/

/*
    Information
*/

#wrapper-information {

    #information {
        width: @contentWidth;
        padding-top: 40px;

        .information-module {

            .info-module-btn {
                margin-left: 135px;
            }

            .information-module-left {
                width: 100%;

                img {
                    margin-bottom: 10px;
                }
            }

            .information-module-right {
                width: 100%;

                img {
                    margin-bottom: 10px;
                }
            }
        }
        
    }

    #onda {
        visibility: hidden;
    }

}

/*
    End Information
*/

/*
    Footer
*/

#wrapper-footer {

    #footer {
        width: @contentWidth;

        #footer-left {

            a {
                margin-left: 20px;
            }
        }

        #footer-right {

            ul {
                margin-right: 20px;
            }
        }
    }

}

/*
    End Footer
*/



}