@media (max-width: 640px) {


@contentWidth: 640px;

/* 
    Header
*/
#wrapper-header {

    #header {
        width: @contentWidth;

        #menu-access {
            margin-right: 10px;
            width: 324px;

            #user-data {
                padding-top: 40px;

                ul {
                    padding-left: 0px;

                    li:first-child {
                        width: 100px;
                    }
                }
            }

            #login-form {
                margin-top: 12px;

                input[type="text"] {                    
                    margin-left: 5px;
                    width: 130px;                    
                }

                input[type="password"] {                    
                    margin-left: 5px;
                    width: 130px;                    
                }

                input[type="submit"] {                    
                    margin-right: 0px; 
                    margin-top: 10px;
                    float: right;
                }
                
            }

            #main-menu {
                visibility: hidden;
                width: 0px;
                height: 0px;
            }
        }
    }
}

/* 
    End Header
*/

/* 
    Mobile menu
*/

#mobile-menu {
    width: 100%;
    margin: 0px auto;
    padding-bottom: 40px;
    visibility: visible;
    height: auto;
    z-index: 9999px;

    select {
        width: @contentWidth - 40px;
        margin: 0px auto;
        display: block;
        font-family: OSRegular;
        font-size: 14px;
        color: #444;
        padding: 6px;
        border: 1px solid #888;
    }
}

/* 
    End Mobile menu
*/

/*
    Left Sidebar
*/

#wrapper-content {
    width: @contentWidth; 
    margin-bottom: 30px;   

    #left-sidebar {
        margin-left: 10px;
    }
}

/*
    End Left Sidebar
*/

/*
    Content
*/
#wrapper-content {

    #content {
        width: @contentWidth - 290px;
        margin-right: 10px;

        p.notification {
            text-align: center;
        }

        #form {
            width: @contentWidth - 290px - 70px;

            input[type="text"], textarea {
                width: 195px;
            }

            .form-element {
                width: 244px;
            }

            span {
                float: none;
                text-align: left;
                margin-top: 10px;
            }

            a.btn-order {
                @mm: (@contentWidth - 290px - 70px) / 2 - 87.5;
                margin: 20px 0px 0px 0px;
                margin-left: @mm;
            }

            img.bg-drop {
                margin: 10px 20px 0px 0px;;
            }
        } 
    }

    #page-content {
        width: @contentWidth;

        #theme-my-login-register {
            width: @contentWidth - 60px;
            padding: 10px;
            margin: 0px auto;

            input[type="text"], input[type="password"] {
                width: 280px - 10;
            }

            #left-content {
                width: @contentWidth - 100px;

            }

            #right-content {
                width: @contentWidth - 100px;
                border-left: none;

            }
        }
    }
}
/*
    End Content
*/

/*
    Footer
*/

#wrapper-footer {

    #footer {
        width: @contentWidth;

        #footer-left {

            a {
                margin-left: 10px;
            }
        }

        #footer-right {

            ul {
                //margin-right: 10px;
            }
        }
    }

}
/*
    End Footer
*/

}
