@media (max-width: 720px) {


@contentWidth: 720px;

/* 
    Header
*/
#wrapper-header {

    #header {
        width: @contentWidth;

        #menu-access {
            margin-right: 10px;

            #user-data {
                padding-top: 12px;
            }

            #login-form {
                margin-top: 12px;

                input[type="text"] {                    
                    margin-left: 10px;
                    width: 130px;                    
                }

                input[type="password"] {                    
                    margin-left: 10px;
                    width: 130px;                    
                }

                input[type="submit"] {                    
                    margin-left: 10px;                   
                }
                
            }
        }
    }
}

/* 
    End Header
*/

/*
    Left Sidebar
*/

#wrapper-content {
    width: @contentWidth; 
    margin-bottom: 30px;   

    #left-sidebar {
        margin-left: 10px;
    }
}

/*
    End Left Sidebar
*/

/*
    Content
*/

#wrapper-content {

    #content {
        width: @contentWidth - 290px;
        margin-right: 10px;

        p.notification {
            text-align: center;
        }

        #form {
            width: @contentWidth - 290px - 70px;

            input[type="text"], textarea {
                width: 338px;
            }

            span {
                float: none;
                text-align: center;
                margin-top: 10px;
            }

            a.btn-order {
                @mm: (@contentWidth - 290px - 70px) / 2 - 87.5;
                margin: 20px 0px 0px 0px;
                margin-left: @mm;
            }

            img.bg-drop {
                margin: 10px 20px 0px 0px;;
            }
        } 
    }

    #page-content {
        width: @contentWidth;

        #theme-my-login-register {
            width: @contentWidth - 60px;
            padding: 10px;
            margin: 0px auto;

            input[type="text"], input[type="password"] {
                width: 280px - 10;
            }

            #left-content {
                width: @contentWidth - 100px;

            }

            #right-content {
                width: @contentWidth - 100px;
                border-left: none;

            }
        }
    }
}
/*
    End Content
*/

/*
    Footer
*/

#wrapper-footer {

    #footer {
        width: @contentWidth;

        #footer-left {

            a {
                margin-left: 10px;
            }
        }

        #footer-right {

            ul {
                //margin-right: 10px;
            }
        }
    }

}
/*
    End Footer
*/

}
