@media (max-width: 768px) {


@contentWidth: 768px;

/* 
    Header
*/
#wrapper-header {
    width: 100%;
    height: 142px;

    #header {
        width: @contentWidth;

        #menu-access {
            margin-right: 15px;

            #user-data {
                padding-top: 12px;
            }
        }
    }
}

/* 
    End Header
*/

/* 
    Banner
*/

#wrapper-banner {
    width: 100%;
    height: 274px;

    #banner {
        width: @contentWidth;
        text-align: center;

        .img-banner {
            margin-top: -24px;
            width: @contentWidth - 40px;
        }
    }
}

/* 
    End Banner
*/

/* 
    Modules
*/

#wrapper-modules {

    #modules {
        width: @contentWidth;
        padding-top: 40px;

        .module {

            .title-module {
                padding: 0px 15px;
            }

            .desc-module {
                padding: 0px 15px;
            }
            
        }

        #img-register {
            margin: 25px 0px 30px 0px;
        }
    }
}

/* 
    End Modules
*/

/*
    Info Module
*/

.info-module-title {
    margin: 20px 0px 18px 0px;
    text-align: center;
}

.info-module-btn {
    margin-left: 239px; 
}


/*
    End Info Module
*/

/* 
    Trial
*/

#wrapper-trial {

    #trial {
        width: @contentWidth;

        #level-selector {

            #level-bachiller {
                margin-left: 170px;
            } 
         
        }

        #trial-form {
            margin-left: 150px;
        }

        #trial-information {
            width: @contentWidth - 80px;
            margin: 0px 40px;

            .info-module-btn {
                margin-left: 239px;
            }
        }

    }
} 

/* 
    End Trial
*/

/*
    Information
*/

#wrapper-information {

    #information {
        width: @contentWidth;
        padding-top: 80px;

        .info-module-title {
		    margin: 0px 10px 18px 10px;
            text-align: left;
		}

        .information-module {
        	margin: 30px 0px;

            .info-module-content {
                margin: 20px 10px 20px 10px;
            }

            .info-module-btn {
                margin-left: 10px; 
            } 

            .information-module-left {

                img {
                    float: left;
                    width: 90%;
                    margin-left: 5%;
                }

            }

            .information-module-right {                

                img {
                    float: right;
                    width: 90%;
                    margin-right: 5%;
                }
            }           
        }
    }

}

/*
    End Information
*/

/*
    Footer
*/

#wrapper-footer {

    #footer {
        width: @contentWidth;

        #footer-left {

            ul {
                margin: 0px;
                padding: 0px;
                list-style: none;
                margin-left: 20px;
            }
        }

        #footer-right {

            ul {
                margin-right: 20px;
            }
        }
    }

}

/*
    End Footer
*/



}