/********************************
    Font Faces
********************************/
@font-face {
    font-family: 'OSRegular';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular.woff') format('woff'),
         url('../fonts/OpenSans-Regular.ttf') format('truetype'); 

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OSBold';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold.woff') format('woff'),
         url('../fonts/OpenSans-Bold.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MD';
    src: url('../fonts/Marydale.ttf') format('truetype');         
    font-weight: normal;
    font-style: normal;
}


/********************************
    End Font Faces
********************************/

/********************************
    Variables
********************************/
@red: #cd333c;
@darkgray: #333;
@lightgray: #999;
@white: white;
@black: black;
@blacktext: #5b5b5b;
@contentWidth: 940px;
@bluelogo: #009ee0;
@gold: #a98315;
@goldlight: #E6BD45;
@green: #158b68;
@greensupra: #28a781;

@imgdir: "../images/";
@bgimglightgray: "@{imgdir}bg-light-gray.jpg";
@bgimgdarkgray: "@{imgdir}bg-dark-gray.jpg";
@bgimgblue: "@{imgdir}bg-blue.jpg";
@bgimgblack: "@{imgdir}bg-black.jpg";
/********************************
    End Variables
********************************/

/********************************
    Mixins
********************************/
.transitions (@seconds: .4s) {
    -webkit-transition: all @seconds linear;  
    -moz-transition: all @seconds linear;  
    -o-transition: all @seconds linear;  
    -ms-transition: all @seconds linear;  
    transition: all @seconds linear;
} 
/********************************
    End Mixins
********************************/ 

a img {
    border: none;
}

body {
    margin: 0px;
    padding: 0px;
}

/* 
    Header
*/
#wrapper-header {
    width: 100%;
    height: 142px;
    background: url(@bgimglightgray) top left repeat;

    #header {
        width: @contentWidth;
        margin: 0px auto;

        #logo {
            float: left;
        }

        #menu-access {
            float: right;            

            #login-form {
                margin-top: 12px;

                .textbox  {
                    border: 1px solid #e2e2e2;
                    font-family: OSRegular;
                    font-size: 11px;
                    padding: 4px;
                    margin-left: 16px;
                    .transitions();

                    &:focus {
                        border: 1px solid darken(#e2e2e2, 10%);
                    }
                }

                input[type="text"] {
                    .textbox();
                }

                input[type="password"] {
                    .textbox();
                }

                input[type="submit"] {
                    background: url(../images/btn-login-form.png) top left no-repeat;
                    width: 78px;
                    height: 27px;
                    padding: 0px;
                    border: none;
                    color: white;
                    font-family: OSBold;
                    font-size: 9px; 
                    text-shadow: 0px 1px 1px #444;
                    margin-left: 16px;                   
                }
                
            }

            #user-data {
                padding-top: 10px;
                
                ul {
                    float: right;
                    margin: 0px;
                    padding-top: 0px;
                    list-style-type: none;
                    font-family: OSRegular;
                    font-size: 11px;
                    color: black;

                    li {
                        float: left;
                        margin-left: 20px;
                        position: relative;

                        a {
                            color: black;
                            text-decoration: none;

                            span {
                                display: block;
                                margin-top: 6px;
                            }

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        &:first-child {
                            margin-right: 15px;
                        } 

                        span.supra1 {
                            position: absolute;
                            top: -11px;
                            left: -11px;
                            background: #bfa25c;
                            color: white;
                            text-align: center;
                            vertical-align: middle;
                            border-radius: 15px;
                            width: 15px;
                            height: 15px;
                            border: 2px solid white;
                        }

                        span.supra1.ns {
                            background: @greensupra;
                        }

                        span.supra2 {
                            position: absolute;
                            top: -12px;
                            left: -12px;
                            background: #bfa25c;
                            color: white;
                            text-align: center;
                            vertical-align: middle;
                            border-radius: 17px;
                            width: 17px;
                            height: 17px;
                            border: 2px solid white;
                        } 

                        span.supra2.ns {
                            background: @greensupra;
                        }                      
                    }
                }
            }

            #main-menu {
                text-align: right;

                ul {
                    list-style: none;
                    padding: 0px;
                    margin: 18px 0px 0px 0px;

                    li {
                        display: inline-block;
                        border-right: 2px solid #333;                        
                        
                        a {
                            font-family: OSBold;
                            font-size: 14px;
                            text-decoration: none;
                            color: #333;
                            padding: 2px 13px; 
                            .transitions();  

                            &:hover {
                                text-decoration: underline;
                            }                         
                        }                                      
                    }

                    li:last-child {                        
                        border-right: none;

                        a {
                            padding-right: 0px;
                        }
                    }
                }
            }
        }
    }
}

/* 
    End Header
*/

/* 
    Mobile menu
*/

#mobile-menu {
    width: 100%;
    margin: 0px auto;
    padding-bottom: 0px;
    background: url(@bgimglightgray) top left repeat;
    visibility: hidden;
    height: 0px;

    select {
        width: 100%;
        margin: 0px auto;
        display: block;
    }
}

/* 
    End Mobile menu
*/

/* 
    Banner
*/

#wrapper-banner {
    width: 100%;
    height: 344px;
    background: url(@bgimgblue) top left repeat;

    #banner {
        width: @contentWidth;
        margin: 0px auto;

        .img-banner {
            margin: 0px auto;
            margin-top: -24px;            
        }
    }
}

/* 
    End Banner
*/

/* 
    Modules
*/

#wrapper-modules {
    width: 100%;    
    background: url(@bgimglightgray) top left repeat;

    #modules {
        width: @contentWidth;
        margin: 0px auto;
        padding-top: 60px;
        text-align: center;

        .module {
            width: 25%;            
            float: left;

            .title-module {
                font-family: OSBold;
                font-size: 15px;
                font-weight: normal;
                color: #717171;
                margin: 10px 0px;
                padding: 0px 25px;
                line-height: 20px;
            }

            .desc-module {
                font-family: OSRegular;
                font-size: 12px;
                font-weight: normal;
                color: #717171;
                line-height: 17px;
                padding: 0px 25px;
            }
            
        }

        #img-register {
            margin: 45px 0px 30px 0px;
        }
    }
}

/* 
    End Modules
*/

/*
    Info Module
*/

.info-module-title {
    font-family: OSBold;
    font-size: 30px;
    margin: 0px 0px 18px 0px;
}

.info-module-content {
    font-family: OSRegular;
    font-size: 16px;
    line-height: 28px;
    margin: 5px 0px 32px 0px;
}

.info-module-btn {
    font-family: OpenSans-Bold;
    font-size: 17px;
    color: white;
    text-shadow: 0px 1px 1px #444;
    text-transform: uppercase;
    width: 211px;
    height: 52px - 11px;
    text-align: center;
    padding-top: 11px;
    display: block;
    background: url(../images/btn-info-orange.png) top left no-repeat;
    margin: 20px 0px 10px 0px; 
}


/*
    End Info Module
*/

/* 
    Trial
*/

#wrapper-trial {
    width: 100%;
    background: url(@bgimgblue) top left repeat;
    padding-bottom: 40px;

    #trial {
        width: @contentWidth;
        margin: 0px auto;
        padding-top: 15px;
        padding-bottom: 15px;

        a {
            font-family: OSBold;
            font-size: 18px;
            color: white;
            display: block;  
            text-decoration: none;
            margin-top: 5px;          
        }

        #level-selector {
            text-align: center;
            margin-bottom: 25px;

            #level-bachiller {
                float: left;
                height: 37px;
                margin-left: 251px;
            } 

            #component-selector {
                background: url(../images/bg-level-component.png) top left no-repeat;
                width: 146px;
                height: 37px;
                float: left;
                margin: 0px 16px;
                cursor: pointer;

                #component-handle {
                    margin-top: 4px;
                    margin-left: 112px;
                    width: 31px;
                    height: 31px;
                }
            } 

            #level-universidad {
                float: left;
                height: 37px;
            }          
        }

        #trial-form {
            width: 465px - 32px;
            background: #e6f3f8;
            box-shadow: 0px 1px 1px #444;
            border-radius: 6px;
            padding: 22px 16px;
            float: left;
            font-family: OSRegular;
            font-size: 13px;

            .controlTrial {
                font-family: OSRegular;
                font-size: 12px;
                color: black;
                border: none;
                padding: 12px 10px;
                border-radius: 4px;
                width: 185px;
                margin: 10px 18px 10px 0px;
            }

            input[type="text"] {
                .controlTrial;
                float: left;
            }

            select {
                .controlTrial;
                width: 205px;
                float: left;
            }

            textarea {
                .controlTrial;
                float: left;
            }

            div.span-element {
                float: left;

                span {
                    display: block;
                    margin-top: 20px;
                }
            }

            input[type="text"].smartspinner {
                padding: 3px 10px;
            }

            span {
                font-family: OSRegular;
                font-size: 12px;
                color: #999;
            }

            span.price {
                color: #838383;
                font-size: 13px;
            }

            .pruebalo {
                
            }

            .wrapper-dnd-area {
                float: left;
                width: 205px;
                margin-right: 18px;

                .dnd-area {                
                    width: 201px;
                    height: 100px;
                    background: white;
                    text-align: center;                    
                    border: 2px dashed #17a2d9;
                    background: url(../images/add-task.jpg) white center center no-repeat;          
                }

                .dnd-area-hover {                
                    width: 201px;
                    height: 100px;
                    background: white;
                    text-align: center;
                    border: 2px solid #e6bd45;
                    background: url(../images/add-task.jpg) white center center no-repeat; 
                }
            } 

            #universidad-details {
                font-size: 11px;
            }

            #colegio-details {
                font-size: 11px;
            }

            .points {
                a.btn {
                    width: 175px;
                    height: 43px - 12px;
                    padding-top: 12px;
                    background: url(../images/btn-suscripcion.png) top left no-repeat;
                    font-family: OSBold;
                    font-size: 12px;
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                    text-shadow: 0px 1px 1px #444;
                    display: block;
                    margin: 10px 0px 0px 0px;
                    text-align: center;
                }
                a.btn-colegiosuscrito {
                    margin-top: 48px;
                }
            }

            .barratextoimagenes {
                background: url(../images/bar-component.png) bottom left no-repeat;
            }

        }

        #trial-information {
            float: left;
            width: 400px;
            margin-left: 70px;
            color: white;

            .info-module-btn {
                margin-left: 70px;
            }
        }
    }
} 

.wrapper-dnd-area {
    div.pfiles {
        position: relative;
        margin: 10px 0px;
    }
}

a.acerrarDND {
    color: white;

    span.cerrarDND {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        background: red;
        color: white !important;
        border-radius: 100%;
        font-weight: bold;
        width: 18px;
        height: 18px;
        text-align: center;
        vertical-align: middle;
    }
}

.form-pedido {
    position: relative;    
}

.form-message {
    position: absolute;
    font-family: MD;
    font-size: 18px;
    line-height: 20px;
    color: white;
}

.form-flecha {
    position: absolute;
    z-index: 8000;
}

.rotate(@angle) {
  -webkit-transform: rotate(@angle);
      -ms-transform: rotate(@angle);
          transform: rotate(@angle);
}

.rotateYZ(@angleY, @angleZ) {
  -webkit-transform: rotateY(@angleY) rotateZ(@angleZ);
      -ms-transform: rotateY(@angleY) rotateZ(@angleZ);
          transform: rotateY(@angleY) rotateZ(@angleZ);
}

.rotateNX(@angleX, @angleN) {
  -webkit-transform: rotateX(@angleX) rotate(@angleN);
      -ms-transform: rotateX(@angleX) rotate(@angleN);
          transform: rotateX(@angleX) rotate(@angleN);
}

.rotateNY(@angleN, @angleY) {
  -webkit-transform: rotate(@angleN) rotateY(@angleY);
      -ms-transform: rotate(@angleN) rotateY(@angleY);
          transform: rotate(@angleN) rotateY(@angleY);
}

.form-message.rotatem10 {
    .rotate(-10deg);
}

.form-message.rotate10 {
    .rotate(10deg);
}

.form-flecha.rotate50 {
    .rotate(50deg);
}

.form-flecha.rotateM90 {
    .rotate(-90deg);
}

.form-flecha.rotateY180Z50 {
    .rotateYZ(180deg, 50deg);
}

.form-flecha.rotateX190NM60 {
    .rotateNX(190deg, -60deg);
}

.form-flecha.rotateN100Y150 {
    .rotateNY(100deg, 150deg);
}

/* 
    End Trial
*/

/*
    Information
*/

#wrapper-information {
    width: 100%;
    background: url(@bgimgdarkgray) top left repeat;
    position: relative;

    #information {
        width: @contentWidth;
        margin: 0px auto;
        padding-top: 70px;
        padding-bottom: 20px;

        .information-module {
            width: 100%;
            color: #777;
            margin: 40px 0px;            

            .info-module-content {
                margin-bottom: 40px;
            }

            .info-module-btn {
                font-family: OSBold;
                font-size: 17px;
                color: white;
                text-shadow: 0px 1px 1px #444;
                text-transform: uppercase;
                width: 210px;
                height: 51px - 11px;
                text-align: center;
                padding-top: 11px;
                display: block;
                background: url(../images/btn-info-blue.png) top left no-repeat;
                margin: 20px 0px 10px 0px; 
                text-decoration: none;
            }

            .information-module-left {
                float: left;
                width: 50%;

                img {
                    float: left;
                }

            }

            .information-module-right {                
                float: right;
                width: 50%;

                img {
                    float: right;
                }
            }
        }
    }

    overflow: hidden;
    #onda {
        position: absolute;
    }
}

/*
    End Information
*/

/*
    Footer
*/

#wrapper-footer {
    width: 100%;
    background: url(@bgimgblack) top left repeat;

    #footer {
        width: @contentWidth;
        margin: 0px auto;
        padding: 20px 0px;

        #footer-left {
            float: left;
            width: 60%;

            ul {
                margin: 0px;
                padding: 0px;
                list-style: none;
                margin-left: 0px;

                li {
                    float: left;
                    margin-right: 15px;

                    a {
                        font-family: OSRegular;
                        font-size: 14px;
                        color: white;
                        margin: 0px;

                        &:hover {
                            text-decoration: none;
                        }
                    }

                }
            }
            
        }

        #footer-right {
            float: left;
            width: 40%;

            ul {
                margin: 0px;
                padding: 0px;
                list-style-type: none;

                float: right;

                li {
                    display: inline-block;
                    margin: 0px 10px;

                    a {                        
                        img {
                            padding: 0px 3px;
                        }
                    }                    
                }

                li:last-child {
                    margin-right: 0px;
                }
            }
        }
    }

}

/*
    End Footer
*/

/* Clear */
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
/* End Clear */

@import "800";
@import "768";
@import "720";
@import "640";
@import "600";
@import "480";
@import "320";