/********************************
    Font Faces
********************************/
@font-face {
    font-family: 'OSRegular';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular.woff') format('woff'),
         url('../fonts/OpenSans-Regular.ttf') format('truetype'); 

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OSBold';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold.woff') format('woff'),
         url('../fonts/OpenSans-Bold.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OSEBold';
    src: url('../fonts/OpenSans-ExtraBold.eot');
    src: url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBold.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OSLight';
    src: url('../fonts/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light.woff') format('woff'),
         url('../fonts/OpenSans-Light.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MD';
    src: url('../fonts/Marydale.eot');
    src: url('../fonts/Marydale.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Marydale.woff') format('woff'),
         url('../fonts/Marydale.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MDBold';
    src: url('../fonts/Marydale-Bold.eot');
    src: url('../fonts/Marydale-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Marydale-Bold.woff') format('woff'),
         url('../fonts/Marydale-Bold.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}


/********************************
    End Font Faces
********************************/

/********************************
    Variables
********************************/
@red: #cd333c;
@darkgray: #333;
@lightgray: #999;
@white: white;
@black: black;
@blacktext: #5b5b5b;
@contentWidth: 940px;
@bluelogo: #009ee0;
@gold: #a98315;
@goldlight: #E6BD45;
@green: #158b68;
@greensupra: #28a781;

@imgdir: "../images/";
@bgimglightgray: "@{imgdir}bg-light-gray.jpg";
@bgimgdarkgray: "@{imgdir}bg-dark-gray.jpg";
@bgimgblue: "@{imgdir}bg-blue.jpg";
@bgimgblack: "@{imgdir}bg-black.jpg";
@bgimgbrown: "@{imgdir}bg-brown.jpg";
/********************************
    End Variables
********************************/

/********************************
    Mixins
********************************/
.transitions (@seconds: .4s) {
    -webkit-transition: all @seconds linear;  
    -moz-transition: all @seconds linear;  
    -o-transition: all @seconds linear;  
    -ms-transition: all @seconds linear;  
    transition: all @seconds linear;
} 
/********************************
    End Mixins
********************************/ 

a img {
    border: none;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background: url(@bgimglightgray) top left repeat;
    margin-bottom: 61px;
}

/* 
    Header
*/
#wrapper-header {
    width: 100%;
    height: 142px;

    #header {
        width: @contentWidth;
        margin: 0px auto;

        #logo {
            float: left;
        }

        #menu-access {
            float: right;

            #user-data {
                padding-top: 10px;
                
                ul {
                    float: right;
                    margin: 0px;
                    padding-top: 0px;
                    list-style-type: none;
                    font-family: OSRegular;
                    font-size: 11px;
                    color: black;

                    li {
                        float: left;
                        margin-left: 20px;
                        position: relative;

                        a {
                            color: black;
                            text-decoration: none;

                            span {
                                display: block;
                                margin-top: 6px;
                            }

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        &:first-child {
                            margin-right: 15px;
                        }

                        span.supra1 {
                            position: absolute;
                            top: -11px;
                            left: -11px;
                            background: #bfa25c;
                            color: white;
                            text-align: center;
                            vertical-align: middle;
                            border-radius: 15px;
                            width: 15px;
                            height: 15px;
                            border: 2px solid white;
                        }

                        span.supra1.ns {
                            background: @greensupra;
                        }

                        span.supra2 {
                            position: absolute;
                            top: -12px;
                            left: -12px;
                            background: #bfa25c;
                            color: white;
                            text-align: center;
                            vertical-align: middle;
                            border-radius: 17px;
                            width: 17px;
                            height: 17px;
                            border: 2px solid white;
                        }

                        span.supra2.ns {
                            background: @greensupra;
                        }
                    }
                }
            }

            #login-form {
                margin-top: 12px;

                .textbox  {
                    border: 1px solid #e2e2e2;
                    font-family: OSRegular;
                    font-size: 11px;
                    padding: 4px;
                    margin-left: 16px;
                    .transitions();

                    &:focus {
                        border: 1px solid darken(#e2e2e2, 10%);
                    }
                }

                input[type="text"] {
                    .textbox();
                }

                input[type="password"] {
                    .textbox();
                }                

                input[type="submit"] {
                    background: url(../images/btn-login-form.png) top left no-repeat;
                    width: 78px;
                    height: 27px;
                    padding: 0px;
                    border: none;
                    color: white;
                    font-family: OSBold;
                    font-size: 9px; 
                    text-shadow: 0px 1px 1px #444;
                    margin-left: 16px;                   
                }
                
            }

            #main-menu {
                text-align: right;

                ul {
                    list-style: none;
                    padding: 0px;
                    margin: 18px 0px 0px 0px;

                    li {
                        display: inline-block;
                        border-right: 2px solid #333;                        
                        
                        a {
                            font-family: OSBold;
                            font-size: 14px;
                            text-decoration: none;
                            color: #333;
                            padding: 2px 13px; 
                            .transitions();  

                            &:hover {
                                text-decoration: underline;
                            }                         
                        }                                      
                    }

                    li:last-child {                        
                        border-right: none;

                        a {
                            padding-right: 0px;
                        }
                    }
                }
            }
        }
    }
}

/* 
    End Header
*/

/* 
    Mobile menu
*/

#mobile-menu {
    width: 100%;
    margin: 0px auto;
    padding-bottom: 0px;
    background: url(@bgimglightgray) top left repeat;
    visibility: hidden;
    height: 0px;

    select {
        width: 100%;
        margin: 0px auto;
        display: block;
    }
}

/* 
    End Mobile menu
*/

/*
    Left Sidebar
*/

#wrapper-content {
    width: 940px;
    margin: 0px auto; 
    margin-bottom: 30px;   

    #left-sidebar {
        float: left;
        width: 250px - 20px;
        background: rgba(229, 229, 229, 0.5);        
        text-align: center;
        padding: 10px;

        p#tienes {
            font-family: OSBold;
            font-size: 16px;
            color: @bluelogo;
            text-transform: uppercase;
            margin: 10px 0px;
            line-height: 16px;
        }

        p#cantidad-puntos {
            font-family: OSEBold;
            font-size: 90px;
            color: #09416d;
            line-height: 90px;
            margin: 10px 0px;
        }

        p#puntos {
            font-family: OSEBold;
            font-size: 20px;
            color: #09416d;
            line-height: 20px;
            margin: 10px 0px;
        }

        hr {
            color: #e9e9e9;
            border-bottom: 1px solid white;
            margin: 20px 5px;
        }

        p#recarga {

            a {
                width: 174px;
                height: 42px - 8px;
                padding-top: 8px;
                background: url(../images/btn-recarga.png) top left no-repeat;
                font-family: OSBold;
                font-size: 15px;
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                text-shadow: 0px 1px 1px #444;
                display: block;
                margin-left: 27px;
            }
        }

        p#recarga.ns {

            a {                
                background: url(../images/btn-recarga-ns.png) top left no-repeat;
            }
        }

        table#tabla-precios {
            font-family: MDBold;
            font-size: 23px;
            font-weight: 500;
            color: black;
            margin-left: 20px;
            text-align: left;

            tr {

                td {
                    span {
                        color: @green;
                    }

                    &:first-child {
                        width: 115px;                    
                    }
                }
                
            }
        }

        p.info {
            font-family: OSRegular;
            font-size: 13px;
            color: #777;
            line-height: 18px;
        }

        div#time-suscription {
            font-family: OSEBold;
            font-size: 13px;
            color: #58585a;
            margin-top: 10px;
            margin-bottom: 10px;

            span {
                color: @bluelogo;
            }

            span.days-init {
                font-family: OSBold;
                font-size: 11px;
                color: #616161;
                float: left;
                margin-left: 10px;
            }

            span.days-end {
                font-family: OSBold;
                font-size: 11px;
                color: #616161;
                float: right;
                margin-right: 10px;
            }

            a.btn {
                width: 175px;
                height: 43px - 12px;
                padding-top: 12px;
                background: url(../images/btn-suscripcion.png) top left no-repeat;
                font-family: OSBold;
                font-size: 12px;
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                text-shadow: 0px 1px 1px #444;
                display: block;
                margin: 0 auto;
                margin-top: 10px;
            }
        }
    }

    #left-sidebar.sidebarSuscrito {
        background: url(@bgimgbrown) top left repeat;

        p#tienes {
            color: @gold; 
        }

        table#tabla-precios {

            tr {

                td {
                    span {
                        color: @gold;
                    }
                }
                
            }
        }
    }
}

/*
    End Left Sidebar
*/

/*
    Content
*/

#wrapper-content {
    //width: 100%;
    margin-bottom: 90px;

    #content {
        width: 640px;
        float: right;

        .titling {
            text-align: center;

            h2.content-title {
                font-family: OSBold;
                font-size: 31px;
                line-height: 31px;
                margin: 0px;
                padding: 0px;
                color: @goldlight;
                text-transform: uppercase;
            }

            h2.content-title-ns {
                font-family: OSBold;
                font-size: 31px;
                line-height: 31px;
                margin: 0px;
                padding: 0px;
                color: @bluelogo;
                text-transform: uppercase;
            }

            p {
                font-family: OSRegular;
                font-size: 17px;
                color: #58585a;
                margin: 8px 0px;
            }
        }

        p.notification {
            font-family: OSLight;
            font-size: 20px;
            color: #58585a;

            span {
                font-family: OSBold;
                color: @bluelogo;
            }
        }

        #form {
            width: 640px - 70px;
            background: #e6f3f8;
            box-shadow: 0px 2px 6px #444;
            border-radius: 6px;
            padding: 24px 35px;
            vertical-align: top;
            font-family: OSRegular;
            font-size: 13px;

            .controlTrial {
                font-family: OSRegular;
                font-size: 12px;
                color: black;
                border: none;
                padding: 12px 10px;
                border-radius: 4px;
                width: 185px;
                margin: 10px 18px 10px 0px;
            }

            input[type="text"] {
                .controlTrial;
                float: left;
            }

            select {
                .controlTrial;
                width: 205px;
                float: left;
            }

            textarea {
                .controlTrial;
                float: left;
            }

            div.span-element {
                float: left;

                span {
                    display: block;
                    margin-top: 20px;
                }
            }

            input[type="text"].smartspinner {
                padding: 3px 10px;
            }

            span {
                font-family: OSRegular;
                font-size: 12px;
                color: #999;
            }

            span.price {
                color: #838383;
                font-size: 13px;
            }

            .wrapper-dnd-area {
                float: left;
                width: 205px;
                margin-right: 18px;

                .dnd-area {                
                    width: 201px;
                    height: 100px;
                    background: white;
                    text-align: center;                    
                    border: 2px dashed #17a2d9;
                    background: url(../images/add-task.jpg) white center center no-repeat;          
                }

                .dnd-area-hover {                
                    width: 201px;
                    height: 100px;
                    background: white;
                    text-align: center;
                    border: 2px solid @goldlight;
                    background: url(../images/add-task.jpg) white center center no-repeat; 
                }
            }            

            .points {
                a.btn {
                    width: 175px;
                    height: 43px - 12px;
                    padding-top: 12px;
                    background: url(../images/btn-suscripcion.png) top left no-repeat;
                    font-family: OSBold;
                    font-size: 12px;
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                    text-shadow: 0px 1px 1px #444;
                    display: block;
                    margin: 10px 0px 0px 0px;
                    text-align: center;
                }
                a.btn-colegiosuscrito {
                    margin-top: 48px;
                }
            }

            .barratextoimagenes {
                background: url(../images/bar-component.png) bottom left no-repeat;
            }
        } 

        #universidad-details {
            font-size: 11px;
        }

        #colegio-details {
            font-size: 11px;
        }

        table#tabla-precios {
            font-family: MDBold;
            font-size: 23px;
            font-weight: 500;
            color: black;
            margin-left: 20px;
            text-align: left;            

            tr {                

                td {
                    height: 60px;

                    span {
                        color: @gold;
                    }

                    &:first-child {
                        width: 90px;                    
                    }
                    &:last-child {
                        padding-left: 80px;
                    }
                }

                &:last-child {
                    border-top: 1px solid gray;
                }

                &.head-resumen {                    

                    td {
                        height: 50px;
                        vertical-align: bottom;

                        span {
                            color: black;                            
                            font-family: OSBold;
                            font-size: 16px;
                        }
                    }
                }

                &.resumen {

                    td {
                        height: 35px;
                        vertical-align: top;

                        span {
                            font-weight: bold;
                        }
                    }
                }
                
            }
        }

        table#tabla-precios.ns {  
            color: black;          

            tr {                

                td {

                    span {
                        color: @green;
                    }
                }

                &.head-resumen {                    

                    td {                        

                        span {
                            color: black;
                        }
                    }
                }
            }
        }

        #payment-details {
            font-family: OSRegular;
            font-size: 13px;

            ul {
                list-style-type: none;
                padding-left: 10px;
            }

            a.btn {
                width: 175px;
                height: 43px - 12px;
                padding-top: 12px;
                background: url(../images/btn-suscripcion.png) top left no-repeat;
                font-family: OSBold;
                font-size: 12px;
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                text-shadow: 0px 1px 1px #444;
                display: block;
                margin: 10px 0px 0px 0px;
                text-align: center;
            }            
        }  

        #div-history {
            margin-top: 40px;            
            font-size: 13px;
            color: @blacktext;

            table {
                width: 100%;

                thead {
                    color: white;
                    background: rgba(0, 0, 0, 0.7);
                    font-family: OSBold;
                    text-align: center;
                }

                tbody {
                    font-family: OSRegular;

                    tr {
                        .transitions();

                        p {
                            padding: 10px;
                        }

                        td.td-descargar {
                            text-align: center;

                            a {
                                color: black;
                            }
                        }

                        td.td-date {
                            text-align: center;
                        }

                        td.td-detalles {
                            text-align: center;
                            width: 80px;

                            a {
                                color: black;
                            }
                        }
                        
                    }

                    tr.odd {
                        background-color: rgba(170, 220, 241, 0.3);

                        &:hover {
                            background-color: rgba(170, 220, 241, 0.6);
                        }

                        span.sin-solucionar {
                            font-family: OSBold;
                            color: red;
                        }

                        a.descargar {
                            font-family: OSBold;
                            color: green;
                        }
                    }

                    tr.even {
                        background-color: rgba(255, 255, 255, 0.5);

                        &:hover {
                            background-color: rgba(255, 255, 255, 0.9);
                        }

                        span.sin-solucionar {
                            font-family: OSBold;
                            color: red;
                        }

                        a.descargar {
                            font-family: OSBold;
                            color: green;
                        }
                    }

                    tr.new-ticket {
                        font-weight: bold;
                    }

                    tr.new-solution {
                        font-weight: bold;
                    }

                    tr.no-pedidos {
                        text-align: center;
                    }
                }
            }
        }

        .ticket-content {
            font-family: OSRegular;
            color: @blacktext;

            .ticket-date {
                color: black;
                font-style: italic;
                font-size: 12px;
            }

            p.ticket-pedido-asociado {
                color: black;
                margin-top: 40px;
            }

            #comments {

                a {
                    color: black;
                }

                ol.comment-list {

                    li.comment {
                        margin-bottom: 30px;
                    }
                }

                textarea  {
                    border: 1px solid #e2e2e2;
                    font-family: OSRegular;
                    font-size: 13px;
                    padding: 4px;
                    .transitions();

                    &:focus {
                        border: 1px solid darken(#e2e2e2, 10%);
                    }
                }
            }
        }
    }

    #page-content {
        width: @contentWidth;
        margin: 0 auto;

        label {
            font-family: OSRegular;
            font-size: 13px;
        }

        .textbox  {
            border: 1px solid #e2e2e2;
            font-family: OSRegular;
            font-size: 11px;
            padding: 4px;
            .transitions();

            &:focus {
                border: 1px solid darken(#e2e2e2, 10%);
            }
        }

        input[type="text"] {
            .textbox();
        }

        input[type="password"] {
            .textbox();
        }

        textarea {
            .textbox();
        }

        select {
            .textbox();
        }

        input[type="submit"] {
            background: url(../images/btn-login-form.png) top left no-repeat;
            width: 78px;
            height: 27px;
            padding: 0px;
            border: none;
            color: white;
            font-family: OSBold;
            font-size: 9px; 
            text-shadow: 0px 1px 1px #444; 
            text-transform: uppercase;                  
        }

        .message {
            font-family: OSRegular;
        }

        h3 {
            font-family: MD;
        }

        .titling {
            text-align: center;

            h2.content-title {
                font-family: OSBold;
                font-size: 31px;
                line-height: 31px;
                margin: 0px;
                padding: 0px;
                color: @goldlight;
                text-transform: uppercase;
            }

            h2.content-title-ns {
                font-family: OSBold;
                font-size: 31px;
                line-height: 31px;
                margin: 0px;
                padding: 0px;
                color: @bluelogo;
                text-transform: uppercase;
            }

            p {
                font-family: OSRegular;
                font-size: 17px;
                color: #58585a;
                margin: 8px 0px;
            }
        }

        #theme-my-login-login {
            width: 400px;
            margin: 0 auto;
            padding: 30px;
            background: white;
            box-shadow: 0px 0px 4px rgba(100, 100, 100, .5);
            border-radius: 3px;

            h2 {
                font-family: OSBold;
                color: @darkgray;
                border-bottom: 1px solid #bfbfbf;
                line-height: 50px;
                margin: 0px 0px 20px 0px;
            }

            input[type="text"], input[type="password"] {
                width: 400px - 10;
            }

            ul.tml-action-links {
                margin: 0px;
                margin-bottom: 40px;
                padding: 0px;
                list-style-type: none;

                li {
                    float: left;
                    margin-right: 15px;

                    a {
                        color: @bluelogo;
                        font-family: OSRegular;
                        text-decoration: none;
                        font-size: 12px;

                        &:hover {
                            color: darken(@bluelogo, 10%);
                        }
                    }
                }
            }
        }

        
        #theme-my-login-register {                
            background: white;
            box-shadow: 0px 0px 4px rgba(100, 100, 100, .5);
            border-radius: 3px;

            h2.title {
                font-family: OSBold;
                color: @darkgray;
                border-bottom: 1px solid #bfbfbf;
                line-height: 50px;
                margin: 0px 0px 20px 0px;
            }

            h3 {
                font-family: OSRegular;
                
            }

            input[type="text"], input[type="password"] {
                width: 360px - 10;
            }

            #left-content {
                float: left;
                width: 460px;
                margin-right: 20px;
                padding: 0px 20px;
                margin: 20px 0px;

                font-family: OSRegular;
                font-size: 14px;
                color: @darkgray;
            }

            #right-content {
                float: left;
                width: 360px;
                padding: 0px 20px;
                border-left: 1px solid #bfbfbf;
                margin: 20px 0px;
            }

            ul.tml-action-links {
                margin: 0px;
                margin-bottom: 40px;
                padding: 0px;
                list-style-type: none;

                li {
                    float: left;
                    margin-right: 15px;

                    a {
                        color: @bluelogo;
                        font-family: OSRegular;
                        text-decoration: none;
                        font-size: 12px;

                        &:hover {
                            color: darken(@bluelogo, 10%);
                        }
                    }
                }
            }
        } 

        #theme-my-login-lost {
            width: 400px;
            margin: 0 auto;
            padding: 30px;
            background: white;
            box-shadow: 0px 0px 4px rgba(100, 100, 100, .5);
            border-radius: 3px;

            h2 {
                font-family: OSBold;
                color: @darkgray;
                border-bottom: 1px solid #bfbfbf;
                line-height: 50px;
                margin: 0px 0px 20px 0px;
            }

            input[type="text"], input[type="password"] {
                width: 400px - 10;
            }

            ul.tml-action-links {
                margin: 0px;
                margin-bottom: 40px;
                padding: 0px;
                list-style-type: none;

                li {
                    float: left;
                    margin-right: 15px;

                    a {
                        color: @bluelogo;
                        font-family: OSRegular;
                        text-decoration: none;
                        font-size: 12px;

                        &:hover {
                            color: darken(@bluelogo, 10%);
                        }
                    }
                }
            }
        }       
    }


}

#payment_form {
    font-family: OSRegular;
    font-size: 13px;
}


.wrapper-dnd-area {
    div.pfiles {
        position: relative;
        margin: 10px 0px;
    }
}

a.acerrarDND {
    color: white;

    span.cerrarDND {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        background: red;
        color: white !important;
        border-radius: 100%;
        font-weight: bold;
        width: 18px;
        height: 18px;
        text-align: center;
        vertical-align: middle;
    }
}


/*
    End Content
*/

/*
    Footer
*/

#wrapper-footer {
    width: 100%;
    background: url(@bgimgblack) top left repeat;

    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 61px;

    #footer {
        width: @contentWidth;
        margin: 0px auto;
        padding: 20px 0px;

        #footer-left {
            float: left;
            width: 60%;

            ul {
                margin: 0px;
                padding: 0px;
                list-style: none;
                margin-left: 0px;

                li {
                    float: left;
                    margin-right: 15px;

                    a {
                        font-family: OSRegular;
                        font-size: 14px;
                        color: white;
                        margin: 0px;

                        &:hover {
                            text-decoration: none;
                        }
                    }

                }
            }
        }

        #footer-right {
            float: left;
            width: 40%;

            ul {
                margin: 0px;
                padding: 0px;
                list-style-type: none;

                float: right;

                li {
                    display: inline-block;
                    margin: 0px 10px;

                    a {

                        img {
                            padding: 0px 3px;
                        }
                    }                    
                }

                li:last-child {
                    margin-right: 0px;
                }
            }
        }
    }

}

/*
    End Footer
*/

.error {
    font-family: OSRegular;
}

/* Clear */
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
/* End Clear */

@import "800-int";
@import "768-int";
@import "720-int";
@import "640-int";
@import "600-int";
@import "480-int";
@import "320-int";