@import 'http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400';

@global-margin: 20px;
@global-grid-gutter-large:20px;
@global-large-margin: 24px;
@global-link-color: #1fa2d6;
@global-link-hover-color: #0074a2;
@global-primary-gradient-top: #5cc0ea;
@global-primary-gradient-bottom: #4cacd7;
@base-h1-font-size: round(@global-font-size * 2.85);
@base-h1-line-height: round(@base-h1-font-size * 1.25);
@base-h2-font-size: round(@global-font-size * 2.28);
@base-h2-line-height: round(@base-h2-font-size * 1.25);
@base-h3-font-size: round(@global-font-size * 1.71);
@base-h3-line-height: round(@base-h3-font-size * 1.25);
@base-h4-font-size: round(@global-font-size * 1.28);
@base-h4-line-height: round(@base-h4-font-size * 1.33);
@base-selection-background: #1fa2d6;
@base-body-font-family: 'Open Sans';
@base-heading-font-family: 'Open Sans';
@base-heading-font-weight: 300;
@panel-box-primary-background: #eefaff;
@panel-box-primary-color: #699eb3;
@panel-box-primary-title-color: #3484a4;
@article-title-font-weight: 300;
@nav-padding-horizontal: 20px;
@nav-side-active-box-shadow: rgba(0,69,109,0.25);
@nav-dropdown-hover-box-shadow: rgba(0,69,109,0.25);
@nav-navbar-hover-box-shadow: rgba(0,69,109,0.25);
@nav-search-active-box-shadow: rgba(0,69,109,0.25);
@navbar-nav-height: 45px;
@button-primary-hover-background: #53b5de;
@button-primary-active-background: #359ac4;
@icon-button-hover-color: @global-link-hover-color;
@badge-font-size: 11px;
@badge-font-weight: normal;
@thumbnail-background: #fff;
@dropdown-width: 220px;
@utility-heading-large-font-size: round(@global-font-size * 3.71);
@utility-heading-large-line-height: round(@utility-heading-large-font-size * 1.23);

@color-ns : #009ee0;
@color-s  : #a98315;

@color-icon : #878689;
@color-icon-ns : #29A881;
@color-icon-s : #BFA25C;

