// Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */

@import "uikit/uikit.less";
@import "apsies/global.less";

/* ========================================================================
   Warp theme
 ========================================================================== */

/* Layout
 ========================================================================== */

/*
 * Force vertical scrollbar
 */

html { overflow-y: scroll; }

/*
 * Blocks
 */

.tm-toolbar,
.tm-navbar {
    margin-top: @global-grid-gutter;
    margin-bottom: @global-grid-gutter;
}

.tm-headerbar {
    margin-bottom: 24px;
}

/* Only large screens */
@media (min-width: @breakpoint-xlarge) {

    .tm-navbar {
        margin-top: @global-grid-gutter-large;
        margin-bottom: @global-grid-gutter-large;
    }
    
    .tm-headerbar {
        margin-bottom: 24px;
    }
}

/* Only phones */
@media (max-width: @breakpoint-small-max) {

    .tm-navbar {
        margin: 0 -@utility-container-padding-horizontal @global-grid-gutter -@utility-container-padding-horizontal;
        border-width: 0 0 1px 0;
    }

    .tm-logo-small:hover { text-decoration: none; };

    .tm-navbar:not(.uk-navbar-attached) { border-radius: 0; }

}

/*
 * Logo small
 * Remove whitespace caused by vertical centering to prevent logo wrapping into the next line
 */

.tm-logo-small { letter-spacing: -0.31em; }

/*
 * Toolbar
 */

.tm-toolbar .uk-float-left .uk-panel {
    margin: 0 @global-grid-gutter 0 0;
    float: left;
}

.tm-toolbar .uk-float-right .uk-panel {
    margin: 0 0 0 @global-grid-gutter;
    float: right;
}

/*
 * Headerbar
 */

.tm-headerbar .tm-logo { float: left; }

.tm-headerbar .uk-panel {
    max-width: 300px;
    margin-right: 0;
    float: right;
}

.tm-headerbar .uk-panel.widget_theme_my_login {
    width: 100%;
    max-width: 100%;
}

.tm-headerbar .uk-panel.widget_theme_my_login .uk-panel {
    max-width: 100%;
    width: 100%;
}

/*
 * Middle
 */

.tm-main > :nth-child(n+2) { margin-top: @global-grid-gutter; }

.tm-content > :last-child { margin-bottom: 0; }

/*
 * Footer
 */

.tm-footer {
    position: relative;
    text-align: center;
}

.tm-footer .uk-panel + .uk-panel { margin-top: @global-grid-gutter; }

/*
 * To-top scroller
 */

.tm-totop-scroller {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: @global-z-index;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: @global-color;
    text-align: center;
    -webkit-transition: all linear 0.05s;
    transition: all linear 0.05s;
}

.tm-totop-scroller:after {
    content: "\f077";
    font-family: "FontAwesome";
}

/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 */

.tm-totop-scroller:hover,
.tm-totop-scroller:focus { /* 1 */
    color: lighten(@global-color, 20%);
    font-size: 16px;
    outline: none; /* 2 */
    text-decoration: none;
}

/* Active */
.tm-totop-scroller:active {
    color: darken(@global-color, 20%);
    font-size: 11px;
}


/* Blog
 ========================================================================== */

/*
 * Leading article
 * Joomla only
 */

.tm-leading-article .uk-article:last-child {
    padding-bottom: @article-margin-top;
    border-bottom: 1px solid @base-hr-border;
}


/* Error
 ========================================================================== */

.tm-error-icon { font-size: 250px; }

.tm-error-headline { font-size: 100px; }


/* Offline
 ========================================================================== */

.tm-offline { width: 300px; }


/* Socialbuttons
 ========================================================================== */

 .tm-socialbuttons {

     line-height: 1;

     > div {
         margin-right: 10px;
         float: left;
     }
 }


/* WordPress only
 ========================================================================== */

.alignleft {
    display: block;
    margin-right: @utility-align-horizontal;
    float: left;
}

.alignright {
    display: block;
    margin-left: @utility-align-horizontal;
    float: right;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}