@apsies-form-color : #e6f3f8;
@apsies-form-shadow-color : #444;
@apsies-form-border-radius: 6px;
@apsies-form-font-size: 1.1em;
@apsies-form-padding: 1.5em 1em;
@apsies-input-padding: 1em 0.9em;

.box-sizing {
	 -webkit-box-sizing: border-box; 
	  -moz-box-sizing: border-box; 
	  box-sizing: border-box;
}

.apsies-form {
	background: @apsies-form-color;
	box-shadow: 0 1px 1px @apsies-form-shadow-color;
	padding: @apsies-form-padding;
	font-size: @apsies-form-font-size;
	border-radius: @apsies-form-border-radius;
	
	.form-container {
		margin:0.75em 0 0;
	}

	.input-group {
		label {
			display:block;
			line-height: 2.5em;
			font-weight: bold;
			margin:0.2em 0 0;

		}
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="number"],
	textarea
	 {
		width: 100%;
		padding: 1em;
		border-radius: 4px;
		border: none;
		font-family: 'Open Sans', sans-serif;
		.box-sizing;
	}

	.puntaje {
	  	text-align: center;
	  	
	  	strong {
		  display: block;
		  line-height: 1em;
			font-size: 1.5em;
			padding: 0.4em 0;
			font-weight: 900;
		}

		.uk-button-large {
		  width: 90%;
		}
	}

}


.input-group select {
  box-sizing: border-box;
  padding: 1em;
  border-radius: 3px;
  border:none;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}



.uk-form-horizontal {
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="number"],
	textarea
	 {
		width: 100%;
		padding: 1em;
		border-radius: 4px;
		.box-sizing;
		border: solid 2px rgba(0,0,0,0.08);
	}
	
	label > input[type="radio"] {
		margin: 0 1px 30px 10px;
		&:first-child {
			margin-left: none;
		}
	}

	select {
		width: 100%;
		padding: 1em;
		border-radius: 4px;
		.box-sizing;
		border: solid 2px rgba(0,0,0,0.08);
	}

	.uk-form-controls-text {
		line-height: 1.5em;
	}
}

form .number {
  overflow: hidden;
  border: solid 1px rgba(0,0,0,.1);
  border-radius:4px;
  width:100%;
  background-color: rgb(179, 223, 240);
      
}
form .number > * {
  float:left;
}
form .number a {
  width: 30%;
  display:block;
  padding: 0.65em 0 0.2em;
  background-color: rgb(179, 223, 240);
}
form .number input[type="text"] {
  width: 40%;
  border-radius: 0;
  text-align: center;
  padding: 1em;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 2px rgba(0,0,0,0.08);
}



#upload-drop {
	background: #fff;
	padding: 2em 1em;
	border: 2px dashed #17a2d9;
	font-size: 0.9em;
}


 .info_point {
     float:left;
     width:60%;
     font-size:1.8em;
     font-family: MDBold;
     padding: 0 2em 0 0;
      -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

 }
 .info_point .precio {
     float:right;
 }
.uk-form-file {
    /* 1 */
    display: inline-block;
    vertical-align: middle;
    /* 2 */
    position: relative;
    /* 3 */
    overflow: hidden;
}

/*
 * 1. Required for Firefox
 * 2. Expand height and required for the cursor
 */

.uk-form-file input[type="file"] {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    /* 1 */
    left: 0;
    /* 2 */
    font-size: 500px;
}

// Variables
// ========================================================================

@uk-upload-dragover-box-shadow:                 rgba(100,100,100,0.3);
@uk-upload-dragover-box-shadow-blur:            20px;


/* ========================================================================
   Component: Upload
 ========================================================================== */

/*
 * Create a box-shadow when dragging a file over the upload area
 */

.uk-dragover { box-shadow: 0 0 @uk-upload-dragover-box-shadow-blur @uk-upload-dragover-box-shadow; }

form {
	.slider {
	  position: relative;
	  width: 100%;
	  background: transparent url('http://www.pruebaapsiesnetwork.es/wp-content/themes/apsies//images/bar-component.png') no-repeat 0 20px;
	  height: 54px;
	  max-width: 430px;
		margin: 0 auto;

	  .label {
	  	font-size: 9px;
	  	position: absolute;
	  	&.bartexttexto {
	  		left: 4px;

	  	}
	  	&.bartextimagenes {
	  		right:4px;
	  	}
	  	&.bartextvalanceado {
	  		left:48%;
	  	}
	  }

	  .selector_left {
	  	position: absolute;
		top: 20px;
		
		width: 30%;
		height: 30px;
		left: 0px;
		cursor: pointer;
	  }
	  .selector_right {
	  	position: absolute;
		top: 20px;
		
		width: 30%;
		height: 30px;
		right: 0px;
		cursor: pointer;
	  }
	  .selector_center {
	  	position: absolute;
		top: 20px;
		
		width: 30%;
		height: 30px;
		left: 35%;
		cursor: pointer;
	  }
	  .indicador {
	  	position: absolute; 
	  	top: 25px; 
	  	font-size: 9px;
	  	-webkit-transition: all 1s ease-in-out;
		 -moz-transition: all 1s ease-in-out;
		 -o-transition: all 1s ease-in-out;
		 transition: all 1s ease-in-out; 
	  }

	  .indicador[data-info="balanceado"] {
	  		left: ~"calc(50% - 10px)";
	  	}

	  	.indicador[data-info="texto"] {
	  		left: 7px;
	  		
	  	}

	  	.indicador[data-info="imagenes"] {
	  		left: auto;
	  		right: 12px;
	  	}
	}
}