.mixin_box {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.mixin_clearfix {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@font-face{font-family:OSRegular;src:url(../../fonts/OpenSans-Regular.eot);src:url(../../fonts/OpenSans-Regular.eot?#iefix) format('embedded-opentype'),url(../../fonts/OpenSans-Regular.woff) format('woff'),url(../../fonts/OpenSans-Regular.ttf) format('truetype');font-weight:400;font-style:normal}@font-face{font-family:OSBold;src:url(../../fonts/OpenSans-Bold.eot);src:url(../../fonts/OpenSans-Bold.eot?#iefix) format('embedded-opentype'),url(../../fonts/OpenSans-Bold.woff) format('woff'),url(../../fonts/OpenSans-Bold.ttf) format('truetype');font-weight:400;font-style:normal}@font-face{font-family:OSEBold;src:url(../../fonts/OpenSans-ExtraBold.eot);src:url(../../fonts/OpenSans-ExtraBold.eot?#iefix) format('embedded-opentype'),url(../../fonts/OpenSans-ExtraBold.woff) format('woff'),url(../../fonts/OpenSans-ExtraBold.ttf) format('truetype');font-weight:400;font-style:normal}@font-face{font-family:OSLight;src:url(../../fonts/OpenSans-Light.eot);src:url(../../fonts/OpenSans-Light.eot?#iefix) format('embedded-opentype'),url(../../fonts/OpenSans-Light.woff) format('woff'),url(../../fonts/OpenSans-Light.ttf) format('truetype');font-weight:400;font-style:normal}@font-face{font-family:MD;src:url(../../fonts/Marydale.eot);src:url(../../fonts/Marydale.eot?#iefix) format('embedded-opentype'),url(../../fonts/Marydale.woff) format('woff'),url(../../fonts/Marydale.ttf) format('truetype');font-weight:400;font-style:normal}@font-face{font-family:MDBold;src:url(../../fonts/Marydale-Bold.eot);src:url(../../fonts/Marydale-Bold.eot?#iefix) format('embedded-opentype'),url(../../fonts/Marydale-Bold.woff) format('woff'),url(../../fonts/Marydale-Bold.ttf) format('truetype');font-weight:400;font-style:normal}


.page-404 {
    figure {
        width: 40%;
        border-radius: 25%;
        margin: 0 auto;
        img {
            max-width: 100%;
        }
    }
}

body, html {
    background: url('../../images/pattern.png') repeat;
}

#wrapper-banner {
    width: 100%;
    height: 344px;
    background: url('../../images/bg-blue.jpg') top left repeat;
    text-align: center;
    img {
        margin-top:-24px;
    }
}



.uk-container.header {
    padding:0px 20px 0 20px;

    .login_form {
        margin:12px 0 0;

        input[type=text] {
            border: 1px solid #e2e2e2;
            font-family: OSRegular;
            font-size: 11px;
            padding: 4px;
            -webkit-transition: all .4s linear;
            -moz-transition: all .4s linear;
            -o-transition: all .4s linear;
            -ms-transition: all .4s linear;
            transition: all .4s linear;
        }

        input[type=password] {
            border: 1px solid #e2e2e2;
            font-family: OSRegular;
            font-size: 11px;
            padding: 4px;
            margin-left: 16px;
            -webkit-transition: all .4s linear;
            -moz-transition: all .4s linear;
            -o-transition: all .4s linear;
            -ms-transition: all .4s linear;
            transition: all .4s linear;
        }

        input[type=submit] {
            background: url(../../images/btn-login-form.png) top left no-repeat;
            width: 78px;
            height: 27px;
            padding: 0;
            border: 0;
            color: #fff;
            font-family: OSBold;
            font-size: 9px;
            text-shadow: 0 1px 1px #444;
            margin-left: 16px;
        }

        .tml-action-links {
            margin:0 98px 5px;
            text-align: right;
            list-style: none;
            padding:0;
            
            li {
                display: inline;
                margin: 0 0 0 15px;
            }

            a {
              font-size:0.8em;  
            }
        }
    }

    .actions {
        
        @media (min-width: 980px){
            float:right;
            width: 57%;
            .login_form {
                float:right;
            }
            
        }

    }

}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea,
select {
    font-family: 'Open Sans', sans-serif;
}

.uk-article .login {
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 4px rgba(100,100,100,.5);
    border-radius: 3px;

    h2 {
        font-family: OSBold;
        color: #333;
        border-bottom: 1px solid #bfbfbf;
        line-height: 50px;
        margin: 0 0 20px;
        font-size: 1.5em;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="number"],
    textarea
     {
        width: 100%;
        padding: 1em;
        border-radius: 4px;
        .box-sizing;
        border: solid 2px rgba(0,0,0,0.08);
    }     

    select {
        width: 100%;
        padding: 1em;
        border-radius: 4px;
        .box-sizing;
        border: solid 2px rgba(0,0,0,0.08);
    }


    label {
        font-family: OSRegular;
        font-size: 13px;
    }

    input[type=submit] {
        background: url(../../images/btn-login-form.png) top left no-repeat;
        width: 78px;
        height: 27px;
        padding: 0;
        border: 0;
        color: #fff;
        font-family: OSBold;
        font-size: 9px;
        text-shadow: 0 1px 1px #444;
        text-transform: uppercase;
    }

    ul.tml-action-links {
        margin: 0;
        margin-bottom: 40px;
        padding: 0;
        list-style-type: none;

        li {
            float: left;
            margin-right: 15px;

            a {
                color: #009ee0;
                font-family: OSRegular;
                text-decoration: none;
                font-size: 12px;
            }
        }
    }

}


.tm-headerbar {
    .uk-navbar-nav {
        float:right;
        margin-top:15px;

        li {
            border-right: 2px solid #333;
            &:last-child {
                border-right: none;
            }
        }

        li a {
            line-height: 1em;
            height: 1.2em;

            font-family: OSBold;
            font-size: 14px;
            text-decoration: none;
            color: #333;
            padding: 2px 7px;
        }

        li:first-child a {
            padding-left: 0;
        }

        li:last-child a {
            padding-right: 0;
        }
    }
}

.uk-container.main_content {
    padding-bottom: 29px;
}


.wp-page .register_form {


    h1, .uk-article-title { 
        font-family: OSBold;
        color: #333;
        border-bottom: 1px solid #bfbfbf;
        line-height: 50px;
        margin: 0 0 20px;
        font-size: 24px;
        margin: 0 0 10px;
        padding: 0 0 14px;
        line-height: 1em;
    }

    ul.tml-action-links {
        margin: 0;
        margin-bottom: 40px;
        padding: 0;
        list-style-type: none;
        li {
            float: left;
            margin-right: 15px;
        }
    }
}

section.explicacion {
    text-align: center;
}

section.blue {
    background: url(../../images/bg-blue.jpg) top left repeat;
    margin:1.5em 0 0;
}



#wrapper-header
#wrapper-header #header {
    width: 940px;
    margin: 0 auto;
}

#wrapper-header #header #logo {
    float: left;
}

#wrapper-header #header #menu-access {
    float: right;
}

#wrapper-header #header #menu-access #login-form {
    margin-top: 12px;
}

#wrapper-header #header #menu-access #login-form .textbox {
    border: 1px solid #e2e2e2;
    font-family: OSRegular;
    font-size: 11px;
    padding: 4px;
    margin-left: 16px;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
    -ms-transition: all .4s linear;
    transition: all .4s linear;
}

#wrapper-header #header #menu-access #login-form .textbox:focus {
    border: 1px solid #c9c9c9;
}

#wrapper-header #header #menu-access #login-form input[type=text] {
    border: 1px solid #e2e2e2;
    font-family: OSRegular;
    font-size: 11px;
    padding: 4px;
    margin-left: 16px;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
    -ms-transition: all .4s linear;
    transition: all .4s linear;
}

#wrapper-header #header #menu-access #login-form input[type=text]:focus {
    border: 1px solid #c9c9c9;
}

#wrapper-header #header #menu-access #login-form input[type=password] {
    border: 1px solid #e2e2e2;
    font-family: OSRegular;
    font-size: 11px;
    padding: 4px;
    margin-left: 16px;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
    -ms-transition: all .4s linear;
    transition: all .4s linear;
}

#wrapper-header #header #menu-access #login-form input[type=password]:focus {
    border: 1px solid #c9c9c9;
}

#wrapper-header #header #menu-access #login-form input[type=submit] {
    background: url(../../images/btn-login-form.png) top left no-repeat;
    width: 78px;
    height: 27px;
    padding: 0;
    border: 0;
    color: #fff;
    font-family: OSBold;
    font-size: 9px;
    text-shadow: 0 1px 1px #444;
    margin-left: 16px;
}

#wrapper-header #header #menu-access #user-data {
    padding-top: 10px;
}

#wrapper-header #header #menu-access #user-data ul {
    float: right;
    margin: 0;
    padding-top: 0;
    list-style-type: none;
    font-family: OSRegular;
    font-size: 11px;
    color: #000;
}

#wrapper-header #header #menu-access #user-data ul li {
    float: left;
    margin-left: 20px;
    position: relative;
}

#wrapper-header #header #menu-access #user-data ul li a {
    color: #000;
    text-decoration: none;
}

#wrapper-header #header #menu-access #user-data ul li a span {
    display: block;
    margin-top: 6px;
}

#wrapper-header #header #menu-access #user-data ul li a:hover {
    text-decoration: underline;
}

#wrapper-header #header #menu-access #user-data ul li:first-child {
    margin-right: 15px;
}

#wrapper-header #header #menu-access #user-data ul li span.supra1 {
    position: absolute;
    top: -11px;
    left: -11px;
    background: #bfa25c;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
}

#wrapper-header #header #menu-access #user-data ul li span.supra1.ns {
    background: #28a781;
}

#wrapper-header #header #menu-access #user-data ul li span.supra2 {
    position: absolute;
    top: -12px;
    left: -12px;
    background: #bfa25c;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    border-radius: 17px;
    width: 17px;
    height: 17px;
    border: 2px solid #fff;
}

#wrapper-header #header #menu-access #user-data ul li span.supra2.ns {
    background: #28a781;
}

#wrapper-header #header #menu-access #main-menu {
    text-align: right;
}

#wrapper-header #header #menu-access #main-menu ul {
    list-style: none;
    padding: 0;
    margin: 18px 0 0;
}

#wrapper-header #header #menu-access #main-menu ul li {
    display: inline-block;
    border-right: 2px solid #333;
}

#wrapper-header #header #menu-access #main-menu ul li a {
    font-family: OSBold;
    font-size: 14px;
    text-decoration: none;
    color: #333;
    padding: 2px 13px;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
    -ms-transition: all .4s linear;
    transition: all .4s linear;
}

#wrapper-header #header #menu-access #main-menu ul li a:hover {
    text-decoration: underline;
}

#wrapper-header #header #menu-access #main-menu ul li:last-child {
    border-right: 0;
}

#wrapper-header #header #menu-access #main-menu ul li:last-child a {
    padding-right: 0;
}

#mobile-menu {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 0;
    background: url(../../images/bg-light-gray.jpg) top left repeat;
    visibility: hidden;
    height: 0;
}

#mobile-menu select {
    width: 100%;
    margin: 0 auto;
    display: block;
}

#wrapper-banner {
    width: 100%;
    height: 344px;
    background: url(../../images/bg-blue.jpg) top left repeat;
    position: relative;


    .uk-modal-dialog {
        background: rgba(0,0,0,0);
    }
}

#wrapper-banner #banner {
    width: 940px;
    margin: 0 auto;

    .video {
        position: absolute;
        right: 0.4em;
        font-size: 5em;
        bottom: 0.2em;
        color: #3F3F3F;
    }
}

#wrapper-banner #banner .img-banner {
    margin: 0 auto;
    margin-top: -24px;
}

#wrapper-modules {
    width: 100%;
    background: url(../../images/bg-light-gray.jpg) top left repeat;
}

#wrapper-modules #modules {
    width: 940px;
    margin: 0 auto;
    padding-top: 60px;
    text-align: center;
}

#wrapper-modules #modules .module {
    width: 25%;
    float: left;
}

#wrapper-modules #modules .module .title-module {
    font-family: OSBold;
    font-size: 15px;
    font-weight: 400;
    color: #717171;
    margin: 14px 0 0;
    padding: 0 25px;
    line-height: 20px;
}

#wrapper-modules #modules .module .desc-module {
    font-family: OSRegular;
    font-size: 12px;
    font-weight: 400;
    color: #717171;
    line-height: 17px;
    padding: 0 25px;
    margin-top:12px;
}

#wrapper-modules #modules #img-register {
    margin: 33px 0 34px;
}

.info-module-title {
    font-family: OSBold;
    font-size: 30px;
    margin: 0 0 18px;
}

.info-module-content {
    font-family: OSRegular;
    font-size: 16px;
    line-height: 28px;
    margin: 5px 0 32px;
}

.info-module-btn {
    

    font-family: OpenSans-Bold;
    font-size: 17px;
    color: #fff;
    text-shadow: 0 1px 1px #444;
    text-transform: uppercase;
    width: 211px;
    height: 41px;
    text-align: center;
    padding-top: 14px;
    display: block;
    background: url(../../images/btn-info-orange.png) top left no-repeat;
    margin: 20px auto 10px;
}

#wrapper-trial {
    width: 100%;
    background: url(../../images/bg-blue.jpg) top left repeat;
    padding-bottom: 40px;
}

#wrapper-trial #trial {
    width: 940px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 15px;
}


#wrapper-trial #level-selector a,
 {
    font-family: OSBold;
    font-size: 18px;
    color: #fff;
    display: block;
    text-decoration: none;
    margin-top: 5px;
}

#wrapper-trial #trial .text-cont {
    padding-left: 5em;
    p {
        color: #fff;
    }
}

#wrapper-trial #trial #level-selector {
    text-align: center;
    margin-bottom: 25px;
}

#wrapper-trial #trial #level-selector #level-bachiller {
    float: left;
    height: 37px;
    margin-left: 251px;
}

#wrapper-trial #trial #level-selector #component-selector {
    background: url(../../images/bg-level-component.png) top left no-repeat;
    width: 146px;
    height: 37px;
    float: left;
    margin: 0 16px;
    cursor: pointer;
}

#wrapper-trial #trial #level-selector #component-selector #component-handle {
    margin-top: 4px;
    margin-left: 112px;
    width: 31px;
    height: 31px;
}

#wrapper-trial #trial #level-selector #level-universidad {
    float: left;
    height: 37px;
}

#wrapper-trial #trial #trial-form {
    width: 433px;
    background: #e6f3f8;
    box-shadow: 0 1px 1px #444;
    border-radius: 6px;
    padding: 22px 16px;
    float: left;
    font-family: OSRegular;
    font-size: 13px;
}

#wrapper-trial #trial #trial-form .controlTrial {
    font-family: OSRegular;
    font-size: 12px;
    color: #000;
    border: 0;
    padding: 12px 10px;
    border-radius: 4px;
    width: 185px;
    margin: 10px 18px 10px 0;
}

#wrapper-trial #trial #trial-form input[type=text] {
    font-family: OSRegular;
    font-size: 12px;
    color: #000;
    border: 0;
    padding: 12px 10px;
    border-radius: 4px;
    width: 185px;
    margin: 10px 18px 10px 0;
    float: left;
}

#wrapper-trial #trial #trial-form select {
    font-family: OSRegular;
    font-size: 12px;
    color: #000;
    border: 0;
    padding: 12px 10px;
    border-radius: 4px;
    width: 185px;
    margin: 10px 18px 10px 0;
    width: 205px;
    float: left;
}

#wrapper-trial #trial #trial-form textarea {
    font-family: OSRegular;
    font-size: 12px;
    color: #000;
    border: 0;
    padding: 12px 10px;
    border-radius: 4px;
    width: 185px;
    margin: 10px 18px 10px 0;
    float: left;
}

#wrapper-trial #trial #trial-form div.span-element {
    float: left;
}

#wrapper-trial #trial #trial-form div.span-element span {
    display: block;
    margin-top: 20px;
}

#wrapper-trial #trial #trial-form input[type=text].smartspinner {
    padding: 3px 10px;
}

#wrapper-trial #trial #trial-form span {
    font-family: OSRegular;
    font-size: 12px;
    color: #999;
}

#wrapper-trial #trial #trial-form span.price {
    color: #838383;
    font-size: 13px;
}

#wrapper-trial #trial #trial-form .wrapper-dnd-area {
    float: left;
    width: 205px;
    margin-right: 18px;
}

#wrapper-trial #trial #trial-form .wrapper-dnd-area .dnd-area {
    width: 201px;
    height: 100px;
    background: #fff;
    text-align: center;
    border: 2px dashed #17a2d9;
    background: url(../../images/add-task.jpg) #fff center center no-repeat;
}

#wrapper-trial #trial #trial-form .wrapper-dnd-area .dnd-area-hover {
    width: 201px;
    height: 100px;
    background: #fff;
    text-align: center;
    border: 2px solid #e6bd45;
    background: url(../../images/add-task.jpg) #fff center center no-repeat;
}

#wrapper-trial #trial #trial-form #universidad-details {
    font-size: 11px;
}

#wrapper-trial #trial #trial-form #colegio-details {
    font-size: 11px;
}

#wrapper-trial #trial #trial-form .points a.btn {
    width: 175px;
    height: 31px;
    padding-top: 12px;
    background: url(../../images/btn-suscripcion.png) top left no-repeat;
    font-family: OSBold;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 1px 1px #444;
    display: block;
    margin: 10px 0 0;
    text-align: center;
}

#wrapper-trial #trial #trial-form .points a.btn-colegiosuscrito {
    margin-top: 48px;
}

#wrapper-trial #trial #trial-form .barratextoimagenes {
    background: url(../../images/bar-component.png) bottom left no-repeat;
}
#wrapper-trial #trial h2 {
    color: #fff;
}
#wrapper-trial #trial #trial-information {
    float: left;
    width: 400px;
    margin-left: 70px;
    color: #fff;
}

#wrapper-trial #trial .text-cont {

    .info-module-btn {
        font-family: OSBold;
        font-size: 18px;
        color: #fff;
        display: inline-block;
        text-decoration: none;
        margin: 5px 10px 0 70px;
    }

    .tooltip_suscription  {
        color: #FFF;
        font-size:1.4em;
    }

}



.wrapper-dnd-area div.pfiles {
    position: relative;
    margin: 10px 0;
}

a.acerrarDND {
    color: #fff;
}

a.acerrarDND span.cerrarDND {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    color: #fff!important;
    border-radius: 100%;
    font-weight: 700;
    width: 18px;
    height: 18px;
    text-align: center;
    vertical-align: middle;
}

.form-pedido {
    position: relative;
}

.form-message {
    position: absolute;
    font-family: MD;
    font-size: 21px;
    line-height: 1.2em;
    color: #fff;
}

.form-flecha {
    position: absolute;
    z-index: 8000;
}

.form-message.rotatem10 {
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.form-message.rotate10 {
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}

.form-flecha.rotate50 {
    -webkit-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    transform: rotate(50deg);
}

.form-flecha.rotateM90 {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.form-flecha.rotateY180Z50 {
    -webkit-transform: rotateY(180deg) rotateZ(50deg);
    -ms-transform: rotateY(180deg) rotateZ(50deg);
    transform: rotateY(180deg) rotateZ(50deg);
}

.form-flecha.rotateX190NM60 {
    -webkit-transform: rotateX(190deg) rotate(-60deg);
    -ms-transform: rotateX(190deg) rotate(-60deg);
    transform: rotateX(190deg) rotate(-60deg);
}

.form-flecha.rotateN100Y150 {
    -webkit-transform: rotate(100deg) rotateY(150deg);
    -ms-transform: rotate(100deg) rotateY(150deg);
    transform: rotate(100deg) rotateY(150deg);
}

#wrapper-information {
    width: 100%;
    background: url(../../images/bg-dark-gray.jpg) top left repeat;
    position: relative;
    overflow: hidden;
}

#wrapper-information #information {
    width: 940px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 20px;
}

#wrapper-information #information .information-module {
    width: 100%;
    color: #777;
    margin: 40px 0;
}

#wrapper-information #information .information-module .info-module-content {
    margin-bottom: 40px;
}

#wrapper-information #information .information-module .info-module-btn {
    font-family: OSBold;
    font-size: 17px;
    color: #fff;
    text-shadow: 0 1px 1px #444;
    text-transform: uppercase;
    width: 210px;
    height: 40px;
    text-align: center;
    padding-top: 11px;
    display: block;
    background: url(../../images/btn-info-blue.png) top left no-repeat;
    margin: 20px 0 10px;
    text-decoration: none;
}

#wrapper-information #information .information-module .information-module-left {
    float: left;
    width: 50%;
}

#wrapper-information #information .information-module .information-module-left img {
    float: left;
}

#wrapper-information #information .information-module .information-module-right {
    float: right;
    width: 50%;
}

#wrapper-information #information .information-module .information-module-right img {
    float: right;
}

#wrapper-information #onda {
    position: absolute;
}

#wrapper-footer {
    width: 100%;
    background: url(../../images/bg-black.jpg) top left repeat;
}

#wrapper-footer #footer {
    width: 940px;
    margin: 0 auto;
    padding: 20px 0;
}
 
#wrapper-footer #footer #footer-left {
    float: left;
    width: 60%;
}

#wrapper-footer #footer #footer-left ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 0;
}

#wrapper-footer #footer #footer-left ul li {
    float: left;
    margin-right: 15px;
}

#wrapper-footer #footer #footer-left ul li a {
    font-family: OSRegular;
    font-size: 14px;
    color: #fff;
    margin: 0;
}

#wrapper-footer #footer #footer-left ul li a:hover {
    text-decoration: none;
}

#wrapper-footer #footer #footer-right {
    float: left;
    width: 40%;
}

#wrapper-footer #footer #footer-right ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}

#wrapper-footer #footer #footer-right ul li {
    display: inline-block;
    margin: 0 10px;
}

#wrapper-footer #footer #footer-right ul li a img {
    padding: 0 3px;
}

#wrapper-footer #footer #footer-right ul li:last-child {
    margin-right: 0;
}

.tm-footer {
    div.left {
        float:left;

    }

    div.right {
        float:right;
        padding: 11px 0 0;
    }

    ul {
      list-style: none;
      margin:0;
        li {
          color: #fff;
          font-size:1em;
          padding: 0.6em 0 0;
          display: inline-block;
            a {
                color: #fff;
            }
        }
    }

    ul.left {
      margin:0;
      padding:0;
      li {
        margin: 9px 8px 0 0;
        border-right: solid 2px rgba(255,255,255,.8);
        padding: 0 10px 0 0;
        &:last-child {
            margin-right: 0;
            border-right: none;
        }
      }      
    }

    ul.rigth {
        margin:0;
        font-size: 1.2em;
        li a {
            padding:0 0.5em;
        }

        .icon-tuenti {
            display: inline-block;
            background: url('../../images/twenti.png') no-repeat -53px -3px;
            width: 18px;
            height: 18px;   
        }
    }

    ul.center {
      font-size: 0.8em;
      padding: 0;
      text-align: left;

        li {
            padding: 0px 9px 0 0;
            color: rgba(255,255,255,0.7);
            margin: 3px 8px 0 0;
            border-right: 1px solid rgba(255,255,255,0.1);
            
            &:last-child {
                margin-right: 0;
                border-right: none;
            }
        }
      
    }

}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}


// .wp-page article {
//   background: #fff;
//   padding: 1em;
//   border-radius: 4px;
//   box-shadow: 0 0 0 2px rgba(0,0,0,.1)
// }

.wp-page .uk-article-title {
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding-bottom: 0.5em;
}
.wp-page .uk-article h4 {
  font-size: 1.9em;
  line-height: 2em;
  color: #009EE0;
  font-weight: bold
}




.page-preguntas-frecuentes {
    dl {
        margin:0;
    }

    .uk-article .uk-grid {
        margin-left:0;
        background: rgba(0,0,0,0.05);
        font-size: 1.1em;

        .uk-width-3-10 {
            padding-left: 0;
        }   

        .uk-width-7-10 {
            background: #fff;
            min-height: 280px;
            border-left: solid 1px rgba(0,0,0,0.1);
        }

        .uk-nav>li>a {
            padding:1em 0.8em;
            font-weight: bold;
            font-size: 1.1em;
            &:hover {
                background: #1FA2D6;
                color: #fff;
            }
        }

        .uk-nav > li {
            border-bottom: solid 1px rgba(0,0,0,0.06);
            border-top: solid 1px rgba(255,255,255,0.5);
            padding:0;
            &:first-child {
                border-top:none;
            }
            &:last-child {
                border-bottom:none;
            }
        }

    }

}

.wp-page dt {
  cursor: pointer;
}

.wp-page dd {
  padding: 1em 1em 0.5em;
}

html {
    position: relative;
    min-height: 100%;
}
body {
   margin-bottom:61px;

    .tm-footer {
        background: #292929 url(../../../images/bg-black.jpg) top left repeat;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 61px;
        margin-bottom:0px;

        .uk-subnav>li>a {
            color: #D5D5D5;
            padding: 1em 0;
        }
    }
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.uk-grid.icons > [class*='uk-width'] {
  margin-bottom: 2em;
}

.uk-grid.icons > [class*='uk-width'] i {
  vertical-align: top;
}
.uk-grid.icons > [class*='uk-width'] i,
.uk-grid.icons > [class*='uk-width'] h2 {
  display:inline-block;
  
}

.uk-grid.icons > [class*='uk-width'] h2 {
    margin: 0;
    line-height: 1.5em;
    padding: 0 0 0 0.1em;
    font-size: 1.5em;
    font-weight: bold;
}

.uk-grid.icons > [class*='uk-width'] p {
  margin:1em 0 0 0.1em;
  line-height: 1.5em;
}

.uk-grid.icons {
    padding: 2em 1em 0 0;
    margin: 0 -14px 1em;

    h3 {
        float: none;
        margin: 0 0 1em;
        text-align: center;
        font-size: 2.5em;
        font-weight: 400;

    }
}

.uk-grid.text_imagen {
    h3 {
        float: none;
        margin: 0 0 1em;
        text-align: center;
        font-size: 2.5em;
        font-weight: 400;
    }

    p {
        line-height: 2em;
        font-size: 1.2em;
    }
}

.uk-button-blue {
  color: #fff;
  padding:0.1em 2em;
  border-radius: 4px;
  border: solid 1px #0E5F8C;
  background: rgb(67,155,210); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQzOWJkMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNzc2YTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(67,155,210,1) 0%, rgba(23,118,169,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(67,155,210,1)), color-stop(100%,rgba(23,118,169,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(67,155,210,1) 0%,rgba(23,118,169,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(67,155,210,1) 0%,rgba(23,118,169,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(67,155,210,1) 0%,rgba(23,118,169,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(67,155,210,1) 0%,rgba(23,118,169,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#439bd2', endColorstr='#1776a9',GradientType=0 ); /* IE6-8 */
  box-shadow: 0 1px 0 0 #5CBFE2 inset;
  font-family: OSBold;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px #000;  

  &:hover {
    color: #fff;
    background: rgb(23,118,169); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE3NzZhOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MzliZDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(23,118,169,1) 0%, rgba(67,155,210,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23,118,169,1)), color-stop(100%,rgba(67,155,210,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(23,118,169,1) 0%,rgba(67,155,210,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(23,118,169,1) 0%,rgba(67,155,210,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(23,118,169,1) 0%,rgba(67,155,210,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(23,118,169,1) 0%,rgba(67,155,210,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1776a9', endColorstr='#439bd2',GradientType=0 ); /* IE6-8 */
    box-shadow: 0 -1px 0 0 #114866 inset;
    text-decoration: none;
  }

  &:active {
    background: rgb(23,118,169); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE3NzZhOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNDVjOTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(23,118,169,1) 0%, rgba(4,92,150,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23,118,169,1)), color-stop(100%,rgba(4,92,150,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(23,118,169,1) 0%,rgba(4,92,150,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(23,118,169,1) 0%,rgba(4,92,150,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(23,118,169,1) 0%,rgba(4,92,150,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(23,118,169,1) 0%,rgba(4,92,150,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1776a9', endColorstr='#045c96',GradientType=0 ); /* IE6-8 */
    text-decoration: none;
  }
}

.uk-button-danger {
 color: #fff;
  padding:0.1em 2em;
  border-radius: 4px;
  border: solid 1px #770808;
  background: #CB1212; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQzOWJkMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNzc2YTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #E03232 0%, #E03232 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E03232), color-stop(100%,#E03232)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #E03232 0%,#E03232 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #E03232 0%,#E03232 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #E03232 0%,#E03232 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #E03232 0%,#E03232 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#439bd2', endColorstr='#1776a9',GradientType=0 ); /* IE6-8 */
  box-shadow: 0 1px 0 0 #F07878 inset;
  font-family: OSBold;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px #000;  

  &:hover {
    color: #fff;
    background: rgb(23,118,169); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE3NzZhOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MzliZDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #E03232 0%, #E03232 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E03232), color-stop(100%,#E03232)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #E03232 0%,#E03232 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #E03232 0%,#E03232 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #E03232 0%,#E03232 100%); /* IE10+ */
    background: linear-gradient(to bottom, #E03232 0%,#E03232 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1776a9', endColorstr='#439bd2',GradientType=0 ); /* IE6-8 */
    box-shadow: 0 -1px 0 0 #114866 inset;
    text-decoration: none;
  }

  &:active {
    background: rgb(23,118,169); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE3NzZhOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNDVjOTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #E03232 0%, rgba(4,92,150,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E03232), color-stop(100%,rgba(4,92,150,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #E03232 0%,rgba(4,92,150,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #E03232 0%,rgba(4,92,150,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #E03232 0%,rgba(4,92,150,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, #E03232 0%,rgba(4,92,150,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1776a9', endColorstr='#045c96',GradientType=0 ); /* IE6-8 */
    text-decoration: none;
  }   
}

.uk-alert {
    border: solid 1px;
    border-radius: 3px;
}

// forms
@import 'notify.less';
@import 'forms.less';
// perfil
@import 'profile.less';
@import 'pedidos.less';