
.information-module {
	.information-module-left {
		
	}
}


#wrapper-information #information  .information-module-left {
    float: left;
    width: 50%;
}

#wrapper-information #information .information-module .information-module-left img {
    float: left;
}

#wrapper-information #information .information-module .information-module-right {
    float: right;
    width: 50%;
}

#wrapper-information #information .information-module .information-module-right img {
    float: right;
}