// Name:            Notify
// Description:     Defines styles for toggleable notifications
//
// Component:       `uk-notify`
//
// Sub-objects:     `uk-notify-message`
//
// Modifiers:       `uk-notify-top-center`
//                  `uk-notify-top-right`
//                  `uk-notify-bottom-left`
//                  `uk-notify-bottom-center`
//                  `uk-notify-bottom-right`
//                  `uk-notify-message-primary`
//                  `uk-notify-message-success`
//                  `uk-notify-message-warning`
//                  `uk-notify-message-danger`
//
// Uses:            Close: `uk-close`
//
// ========================================================================


// Variables
// ========================================================================

@notify-position:                               10px;
@notify-z-index:                                1040;
@notify-width:                                  380px;

@notify-message-margin-bottom:                  10px;
@notify-message-padding:                        15px;
@notify-message-background:                     #444;
@notify-message-color:                          #fff;
@notify-message-font-size:                      16px;
@notify-message-line-height:                    22px;

@notify-message-primary-background:             #ebf7fd;
@notify-message-primary-color:                  #2d7091;

@notify-message-success-background:             rgba(0, 128, 0, 0.86);
@notify-message-success-color:                  white;

@notify-message-warning-background:             rgba(255, 217, 0, 0.84);
@notify-message-warning-color:                  #565656;

@notify-message-danger-background:              rgba(255, 0, 0, 0.8);
@notify-message-danger-color:                   #fff;


/* ========================================================================
   Component: Notify
 ========================================================================== */

/*
 * Message container for positioning
 */

.uk-notify {
    position: fixed;
    top: @notify-position;
    left: @notify-position;
    z-index: @notify-z-index;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: @notify-width;
    text-align: center;
    .hook-notify;
}


/* Position modifiers
========================================================================== */

.uk-notify-top-right,
.uk-notify-bottom-right  {
    left: auto;
    right: @notify-position;
}

.uk-notify-top-center {
    top: 50%;
}

.uk-notify-top-center,
.uk-notify-bottom-center {
    left: 50%;
    margin-left: (@notify-width / -2);
}

.uk-notify-bottom-left,
.uk-notify-bottom-right,
.uk-notify-bottom-center {
    top: auto;
    bottom: @notify-position;
}


/* Responsiveness
========================================================================== */

/* Phones portrait and smaller */
@media (max-width: @breakpoint-mini-max) {

    /*
     * Fit in small screen
     */

    .uk-notify {
        left: 10px;
        right: 10px;
        width: auto;
        margin: 0;
    }

}


/* Sub-object: `uk-notify-message`
========================================================================== */

.uk-notify-message {
    position: relative;
    margin-bottom: @notify-message-margin-bottom;
    padding: @notify-message-padding;
    background: @notify-message-background;
    color: @notify-message-color;
    font-size: @notify-message-font-size;
    line-height: @notify-message-line-height;
    cursor: pointer;
    .hook-notify-message;
}


/* Close in notify
 ========================================================================== */

.uk-notify-message > .uk-close {
 //   visibility: hidden;
 //   float: right;
    display:none;
}

//.uk-notify-message:hover > .uk-close { visibility: visible; }


/* Modifier: `uk-alert-info`
 ========================================================================== */

.uk-notify-message-primary {
    background: @notify-message-primary-background;
    color: @notify-message-primary-color;
    .hook-notify-message-primary;
}


/* Modifier: `uk-alert-success`
 ========================================================================== */

.uk-notify-message-success {
    background: @notify-message-success-background;
    color: @notify-message-success-color;
    .hook-notify-message-success;
}


/* Modifier: `uk-notify-message-warning`
 ========================================================================== */

.uk-notify-message-warning {
    background: @notify-message-warning-background;
    color: @notify-message-warning-color;
    .hook-notify-message-warning;
}


/* Modifier: `uk-notify-message-danger`
 ========================================================================== */

.uk-notify-message-danger {
    background: @notify-message-danger-background;
    color: @notify-message-danger-color;
    .hook-notify-message-danger;
}


// Hooks
// ========================================================================

.hook-notify-misc;

.hook-notify() {}
.hook-notify-message() {
    padding:1.5em;
    line-height: 25px;

}
.hook-notify-message-primary() {}
.hook-notify-message-success() {}
.hook-notify-message-warning() {}
.hook-notify-message-danger() {}
.hook-notify-misc() {}


.webui-popover{position:absolute;top:0;left:0;z-index:9999;display:none;width:276px;min-height:50px;padding:1px;text-align:left;white-space:normal;background-color:#fff;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0,0,0,.2);border-radius:6px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2)}.webui-popover.top,.webui-popover.top-left,.webui-popover.top-right{margin-top:-10px}.webui-popover.right,.webui-popover.right-top,.webui-popover.right-bottom{margin-left:10px}.webui-popover.bottom,.webui-popover.bottom-left,.webui-popover.bottom-right{margin-top:10px}.webui-popover.left,.webui-popover.left-top,.webui-popover.left-bottom{margin-left:-10px}.webui-popover-inner .close{font-family:arial;margin:5px 10px 0 0;float:right;font-size:20px;font-weight:700;line-height:20px;color:#000;text-shadow:0 1px 0 #fff;opacity:.2;filter:alpha(opacity=20);text-decoration:none}.webui-popover-inner .close:hover,.webui-popover-inner .close:focus{opacity:.5;filter:alpha(opacity=50)}.webui-popover-title{padding:8px 14px;margin:0;font-size:14px;font-weight:400;line-height:18px;background-color:#f7f7f7;border-bottom:1px solid #ebebeb;border-radius:5px 5px 0 0}.webui-popover-content{padding:9px 14px;overflow:auto}.webui-popover-inverse{background-color:#333;color:#eee}.webui-popover-inverse .webui-popover-title{background:#3b3b3b;border-bottom:none;color:#eee}.webui-no-padding .webui-popover-content{padding:0}.webui-no-padding .list-group-item{border-right:none;border-left:none}.webui-no-padding .list-group-item:first-child{border-top:0}.webui-no-padding .list-group-item:last-child{border-bottom:0}.webui-popover>.arrow,.webui-popover>.arrow:after{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid}.webui-popover>.arrow{border-width:11px}.webui-popover>.arrow:after{border-width:10px;content:""}.webui-popover.top>.arrow,.webui-popover.top-right>.arrow,.webui-popover.top-left>.arrow{bottom:-11px;left:50%;margin-left:-11px;border-top-color:#999;border-top-color:rgba(0,0,0,.25);border-bottom-width:0}.webui-popover.top>.arrow:after,.webui-popover.top-right>.arrow:after,.webui-popover.top-left>.arrow:after{content:" ";bottom:1px;margin-left:-10px;border-top-color:#fff;border-bottom-width:0}.webui-popover.right>.arrow,.webui-popover.right-top>.arrow,.webui-popover.right-bottom>.arrow{top:50%;left:-11px;margin-top:-11px;border-left-width:0;border-right-color:#999;border-right-color:rgba(0,0,0,.25)}.webui-popover.right>.arrow:after,.webui-popover.right-top>.arrow:after,.webui-popover.right-bottom>.arrow:after{content:" ";left:1px;bottom:-10px;border-left-width:0;border-right-color:#fff}.webui-popover.bottom>.arrow,.webui-popover.bottom-right>.arrow,.webui-popover.bottom-left>.arrow{top:-11px;left:50%;margin-left:-11px;border-bottom-color:#999;border-bottom-color:rgba(0,0,0,.25);border-top-width:0}.webui-popover.bottom>.arrow:after,.webui-popover.bottom-right>.arrow:after,.webui-popover.bottom-left>.arrow:after{content:" ";top:1px;margin-left:-10px;border-bottom-color:#fff;border-top-width:0}.webui-popover.left>.arrow,.webui-popover.left-top>.arrow,.webui-popover.left-bottom>.arrow{top:50%;right:-11px;margin-top:-11px;border-right-width:0;border-left-color:#999;border-left-color:rgba(0,0,0,.25)}.webui-popover.left>.arrow:after,.webui-popover.left-top>.arrow:after,.webui-popover.left-bottom>.arrow:after{content:" ";right:1px;border-right-width:0;border-left-color:#fff;bottom:-10px}.webui-popover-inverse.top>.arrow,.webui-popover-inverse.top-left>.arrow,.webui-popover-inverse.top-right>.arrow,.webui-popover-inverse.top>.arrow:after,.webui-popover-inverse.top-left>.arrow:after,.webui-popover-inverse.top-right>.arrow:after{border-top-color:#333}.webui-popover-inverse.right>.arrow,.webui-popover-inverse.right-top>.arrow,.webui-popover-inverse.right-bottom>.arrow,.webui-popover-inverse.right>.arrow:after,.webui-popover-inverse.right-top>.arrow:after,.webui-popover-inverse.right-bottom>.arrow:after{border-right-color:#333}.webui-popover-inverse.bottom>.arrow,.webui-popover-inverse.bottom-left>.arrow,.webui-popover-inverse.bottom-right>.arrow,.webui-popover-inverse.bottom>.arrow:after,.webui-popover-inverse.bottom-left>.arrow:after,.webui-popover-inverse.bottom-right>.arrow:after{border-bottom-color:#333}.webui-popover-inverse.left>.arrow,.webui-popover-inverse.left-top>.arrow,.webui-popover-inverse.left-bottom>.arrow,.webui-popover-inverse.left>.arrow:after,.webui-popover-inverse.left-top>.arrow:after,.webui-popover-inverse.left-bottom>.arrow:after{border-left-color:#333}.webui-popover i.icon-refresh:before{content:""}.webui-popover i.icon-refresh{display:block;width:30px;height:30px;font-size:20px;top:50%;left:50%;position:absolute;background:url(../img/loading.gif) no-repeat}@-webkit-keyframes rotate{100%{-webkit-transform:rotate(360deg)}}@keyframes rotate{100%{transform:rotate(360deg)}}