
._pedidos {
	
	font-size: 0.9em;

	tr > th {
		font-size: 1em;
		text-align: center;
		vertical-align: middle;
		
		&:nth-child(1) {
			width: 91px;
		}
	
		&:nth-child(2) {
			width: 128px;
		}
	}
 


	tr > td {
		text-align: center;
		font-size: 0.9em;
		vertical-align: middle;
		.uk-button-blue {
			font-size: 0.7em;
			padding: 0 .8em;
			margin: 0.4em 0 0 0;

		}

		h1 {
			font-size: 1.5em;
			line-height: 1em;
			margin: 0;
			font-weight: bold;
		}

		.draft {
			color:#F00F0F;
		}

		.pending {
			color: #D3BB0F; 
		}

		.success {
			color: #1CB012;
		}

		.icon_action {
			font-size: 2em;
			margin: 0 .2em 0 0;
			&.red {
				color: #EA0B0B;
			}
			&.green {
				color: #35C325;
			}

		}
	}
}
.page-recargar {
	
	.table_price {
		tr > td:first-child {
			width: 124px;
		}

		tr > td {
			border:none;
			font-family: MDBold;
			font-size: 23px;
			font-weight: 500;
			color: #000;
			margin-left: 20px;
			text-align: left;
			vertical-align: middle;

			&:last-child > span {
				color: #a98315;
			}
		}

	}


}

.button_radio {
	width: 45%;
	float:left;
	&:first-child {
		margin-right: 10%;
	}

	img {
		max-width: 80%;
	}

	input {
		vertical-align: top;
	}

	label {
		position: relative;
	}

	input[type="radio"]:checked + label {
		&:after {

			font-family: FontAwesome;
			content: "\f046";
			color: rgb(91, 152, 25);
			font-size: 30px;
			position: absolute;
			bottom: -9px;
			left: -6px;
			width: 100%;
		}
	}

	input[type="radio"] + label {
		&:after {

			font-family: FontAwesome;
			content: "\f096";
			color: #DFDFDF;
			font-size: 30px;
			position: absolute;		
			bottom: -9px;
			left: -6px;
			width: 100%;
		}
	}
}

.wrap_pedido {
	.button_radio {
		img {
			max-width: 100%;
		}

		input[type="radio"]:checked + label {
			&:after {
				bottom: -7px;
				left: -8px;
			}
		}

		input[type="radio"] + label {
			&:after {	
				bottom: -7px;
				left: -8px;
			}
		}
	}
}

#left-sidebar {
	}

.uk-modal-dialog  {
	background: rgba(229,229,229,1);
}

.detalle {
	dt, dd {
		padding: 1.1em 1em 1em;
	}
}

article.ticket {
	.content {
		background: #fff;
		padding: 1em;
		border-radius: 0px;
		border: solid 2px rgba(0, 0, 0, 0.08);
		box-sizing: border-box;
	}

	h3 {
		display: block;
		font-size: 1.5em;
		-webkit-margin-before: 1em;
		-webkit-margin-after: 1em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
		font-weight: bold;
	}

	#comments {
		h2 {
		display:none;
		}
		form > p:first-child {
			display:none;
		}
	}
}

