.toolbar {
	background: #FFF;
	margin: 10px 0;
	
	border: solid 1px #DDD;

	.section {
		padding: 1em;
	
		.label {
			margin: 0.5em 0 0.25em;
		}
	}


}

.uk-table {
	
	thead th {
		vertical-align: middle;
		border: solid 1px rgba(0, 0, 0, 0.08);
		background: #F3F5F7;
	}

	tbody td {
		border: solid 1px rgba(0, 0, 0, 0.08);
	}
}

#left-sidebar {
	background: rgba(229,229,229,.5);
	text-align: center;
	padding: 10px;
	.mixin_box;

	p#tienes {
		font-family: OSBold;
		font-size: 16px;
		color: @color-ns;
		text-transform: uppercase;
		margin: 10px 0;
		line-height: 16px;
	}

	p#cantidad-puntos {
		font-family: OSEBold;
		font-size: 90px;
		color: #09416d;
		line-height: 90px;
		margin: 10px 0;
	}

	p#puntos {
		font-family: OSEBold;
		font-size: 20px;
		color: #09416d;
		line-height: 20px;
		margin: 10px 0;
	}

	hr {
		border-top: 1px solid rgba(0, 0, 0, 0.3);
		border-bottom: 1px solid #fff;
		margin: 20px 5px;
	}

	p#recarga.ns a {
		background: url(../../images/btn-recarga-ns.png) top left no-repeat;
		width: 174px;
		height: 34px;
		padding-top: 8px;
		font-family: OSBold;
		font-size: 15px;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		text-shadow: 0 1px 1px #444;
		display: block;
		margin-left: 27px;

	}

	table#tabla-precios {
		font-family: MDBold;
		font-size: 23px;
		font-weight: 500;
		color: #000;
		margin-left: 20px;
		text-align: left;

		tr td {
			padding:7px 1px 13px;
		}

		tr:last-child td {
			padding-bottom: 9px;
		}

		tr td:first-child {
			width: 115px;
		}

		tr td span {
			color: #158b68;
		}

	}

	p.info {
		font-family: OSRegular;
		font-size: 13px;
		color: #777;
		line-height: 18px;
		margin: 0 0 14px;
	}

	.uk-button-blue {
		padding: 4px 51px;
		font-size: 12px;
	}

	.uk-progress {
		background: #d0d0d0;
		margin-bottom: 0;
	}

	
	@media (min-width: @breakpoint-xlarge) {
		& {
			width: 250px;
			float:left;
		}
	}
		

}


.debug {
	width: 100%;
	position:absolute;
	top:0;
	left:0;
	height:2000px;
	background: url("/apsies/wp-content/themes/apsies_clean/images/panel_ns.png") no-repeat -8px 0;
	opacity: 0.5;
}

.suscripto {
	

	@import 'suscrito/panel.less';
}

.back_user {
	.mixin_box;

	& > h2 {
		font-family: OSBold;
		font-size: 31px;
		line-height: 31px;
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		text-align: center;
		color: @color-ns;
	}

	& > h3 {
		font-family: OSRegular;
		font-size: 17px;
		color: #58585a;
		margin: 5px 0 15px;
		text-align: center;
		margin: 5px 0 15px;
	}

	@media (min-width: @breakpoint-xlarge) {
		& {
			width: 690px;
			float:left;
			padding:0 0 0 51px;
		}
	}

	p.notification {
		font-family: OSLight;
		font-size: 20px;
		color: #58585a;
		margin:20px 0;

		span {
			font-family: OSBold;
			color: #009ee0;
		}
	}
	
	.uk-grid.icons {
		font-size: 0.75em;
	}

	.uk-grid.icons>[class*='uk-width'] p {
		font-size: 1.2em;
	}

}

.home {
	.panel_user.suscripcion{
		.steps {
			.opciones {
				width: 95%;
			}
		}
	}	
}



/**
 * @color-icon : #878689;
	@color-icon-ns : #29A881;
	@color-icon-s : #BFA25C;
 */
#user-data {
	.mixin_clearfix;
	margin:20px 0 0;

	font-size: 11px;
	
	& > ul {
	    list-style:none;    
	    float:right;
	    padding: 10px 0 0 0;
	    width:100%;
	    text-align: right;
		margin: 0 0 8px;

	}

	ul > li {
		padding:0 0 0 20px;
		display:inline-block;
		a {
			color: @color-icon;
			&:hover {
				color: @color-icon-ns;
			}

			.uk-icon-file-text {
				font-size:0.75em;
			}

			.uk-icon-envelope {
				font-size: 0.86em;
			}

			.uk-icon-power-off {
				font-size: 0.9em;
			}

		}

		&:last-child {
			padding-right: 0;
		}

		&:first-child {
			padding: 3px 6px 0 0;

			a {
				border: solid 1px;
				color:#000;
				padding: 6px 11px;
			}
		}


	}

}

.panel_user.suscripcion {
	.opciones {
		background: url('../../images/suscripcion.png') no-repeat 0 15px;
		width: 86%;
		height: 565px;
		margin: 0 auto;
		background-size: 100%;
		padding: 0 0px 0 34px;
		
		.left {
			float: left;
			margin:0 0;
			border-radius: 17px;

			label {
				display: block;
				width: 315px;
				height: 464px;
				text-align: center;
				position: relative;
				border-radius: 10px;
				margin:72px 0 0;
				.mixin_box;

				h1 {
					margin: 0;
					padding: 33px 0 0;
					font-family: OSBold;
				}
				
				&:before {
					font-family: FontAwesome;
					content: "\f096";
					color: #DFDFDF;
					font-size: 30px;
					position: absolute;
					bottom: -30px;
					left: 0;
					width: 100%;

				}
			}

			input[type=radio]:checked + label {
				border: dashed 2px;
			
				&:before {
					font-family: FontAwesome;
					content: "\f046";
					color: #5b9819;
					font-size: 8em;
					position: absolute;
					bottom: -74px;
					left: 0;
					width: 100%;

				}
			}

			label:hover {
				border: dashed 2px;
				&:before {
					color: rgb(91, 152, 25);
				}
			}

			&:first-child {
				margin-right:210px;
			}
		}
	}
}

.wrap_pedido {
	padding-bottom: 29px;
}

.alt.title {
	font-family: OSBold;
	padding: 0em 0 0 2em;
	font-size: 1.8em;
	text-align: center;
}

.uk-button-blue.btn-guardar {
	min-height: 6px;
	padding: 0px 16px;
	line-height: 23px;
	font-size: 9px;
}

.uk-button {
	&.next,
	&.prev,
	&.submit {
		background: none;
		font-family: OSBold;
		position:relative;
		border-bottom: solid 4px;

		&:after {
			font-family: FontAwesome;
			color: #444444;
			font-size: 23px;
			bottom: -17px;
			position: absolute;
			
		}
	}

	&.next:after,
	&.submit:after {
		content: "\f178";
		right: -6px;
	}
	
	&.prev:after {
		left: -6px;
		content : "\f177";
	}

}