// Suscripto
.debug {
	background: url("/apsies/wp-content/themes/apsies_clean/images/panel_s.png") no-repeat 0 0;
	display: none;
}

#left-sidebar {
	background: url(../../../images/bg-brown.jpg) top left repeat;
	
	p#tienes {
		color: @color-s;
	}
	p#recarga.ns a {
		background: url(../../../images/btn-recarga.png) top left no-repeat;
	}

	table#tabla-precios {
		
		tr td span {
			color: @color-s;
		}

	}

	p.info {
		margin-bottom: 12px;
	}

	#time-suscription {
		font-family: OSEBold;
		font-size: 13px;
		color: #58585a;
		margin-top: 10px;
		margin-bottom: 7px;

		span {
			color:@color-ns;
		}

		.counter {
			padding: 5px 10px;
		}

		.uk-progress {
			margin-bottom: 2px;
		}
	}

	.uk-button-blue {
		padding: 4px 5px;
		font-size: 12px;
	}
}

.back_user {

	& > h2 {
		color: #E6BD45;
	}

}

/**
 * @color-icon : #878689;
	@color-icon-ns : #29A881;
	@color-icon-s : #BFA25C;
 */
#user-data {
	ul > li {
		a:hover {
			color: @color-icon-s;
		}
	}
}


.uk-modal-dialog  {
	background: url(../../../images/bg-brown.jpg) top left repeat;
	
}
